  .rightList{
    border-top: 0;
    border-bottom: 0;
  }
  .card {
    border-radius: 10px;
  }
  
  .rounded-circle {
    width: 60px;
    height: 60px;
  }
  
  .text-muted {
    font-size: 0.85rem;
  }
  
  p.mb-0 {
    margin-top: 5px;
    color: #6c757d;
  }
  .list-group-item {
    
    border-left: 0;
    border-right: 0;
  }

.btnWidth{
    width: 50%;
}
  
.btn:disabled {
    cursor: default; 
  }