<div *ngIf="loading" class="loader-overlay">
  <div class="loader"></div>
</div>
<div class="container-fluid">
  <!-- <app-header></app-header> -->
  <div class="row justify-content-center mt-5">
    <div class="col-lg-3 col-md-6 col-sm-12 col-12">

      <div class="d-flex align-items-center mb-4">
        <img src="assets/images/action_filled.png" alt="Product Image" class="rounded-circle"
          style="width: 50px; height: 50px;">
        <div class="ml-3">
          <h5 class="mb-0">Modern light clothes</h5>
          <small>$500</small>
        </div>
      </div>
      <h6 class="mb-3"><b>Who Bought your ad?</b></h6>
      <div class="list-group mb-4" style="cursor: pointer;" >
        <div *ngFor="let item of adList">
        <button class="list-group-item list-group-item-action" (click)="onBuyerSelected(item.message)">
          <img [src]="item.img" alt="Product Image" class="rounded-circle"
            style="width: 30px; height: 30px;">
          {{item.message}}</button>
        </div>
        <!-- <button class="list-group-item list-group-item-action"
          (click)="onBuyerSelected('Someone from Outside TTOffer?')">
          <img src="assets/images/action_filled.png" alt="Product Image" class="rounded-circle"
            style="width: 30px; height: 30px;">
          Someone from Outside TTOffer?</button>
        <button class="list-group-item list-group-item-action" (click)="onBuyerSelected('Anthony')">
          <img src="assets/images/action_filled.png" alt="Product Image" class="rounded-circle"
            style="width: 30px; height: 30px;">
          Anthony</button>
        <button class="list-group-item list-group-item-action" (click)="onBuyerSelected('Mark')">
          <img src="assets/images/action_filled.png" alt="Product Image" class="rounded-circle"
            style="width: 30px; height: 30px;">
          Mark</button> -->

      </div>
      <div class="d-flex justify-content-end">
        <button [disabled]="isBtnDisabled" class="btn btn-secondary rounded-pill mr-4 btnWidth">Done</button>
        <button   class="btn btn-secondary rounded-pill btnWidth">Skip</button>
      </div>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-12" style="margin-top: 60px;">
      <h6 class="mb-3"><b>Message</b></h6>
      <ul class="list-group ">
        <li class="list-group-item d-flex align-items-start " style="border-top: 0;">
          <img src="assets/images/action_filled.png" alt="Anthony" class="rounded-circle mr-3"
            style="width: 40px; height: 40px;">
          <div class="d-flex flex-column w-100">
            <div class="d-flex justify-content-between">
              <h6 class="mb-0">Anthony (Web3.io)</h6>
              <small class="text-muted">9:54 AM</small>
            </div>
            <p class="mb-0 text-muted">How are you today?</p>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-start">
          <img src="assets/images/action_filled.png" alt="Mark" class="rounded-circle mr-3"
            style="width: 40px; height: 40px;">
          <div class="d-flex flex-column w-100">
            <div class="d-flex justify-content-between">
              <h6 class="mb-0">Mark (Web3.io)</h6>
              <small class="text-muted">9:54 AM</small>
            </div>
            <p class="mb-0 text-muted">How are you today?</p>
          </div>
        </li>
        <li class="list-group-item d-flex align-items-start" style="border-bottom: 0;">
          <img src="assets/images/action_filled.png" alt="Anthony" class="rounded-circle mr-3"
            style="width: 40px; height: 40px;">
          <div class="d-flex flex-column w-100">
            <div class="d-flex justify-content-between">
              <h6 class="mb-0">Anthony (Web3.io)</h6>
              <small class="text-muted">9:54 AM</small>
            </div>
            <p class="mb-0 text-muted">How are you today?</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
