<main>
    <div class="container post-detail-container pb-5 buyer">
        <app-card [data]="{image:'/assets/images/tempImage/img2.jpeg',heading:'Modern light clothes'}"
            imgClass="product-img">
            <div slot="extra" class="d-flex fs-12 align-items-center pt-1 footer">
                <span>$500</span>
            </div>
        </app-card>
        <div class="d-flex justify-content-between">
            <div class="pr-4 pt-2">
                <h4 class="fs-32 fw-bold text-dark-800 mb-0 pt-2 pb-2">Rate Seller</h4>
                <div class="seller-bio pt-5 mt-2">
                    <img src="/assets/images/tempImage/img2.jpeg" alt="image" loading="lazy">
                    <h4 class="fs-19 fw-normal mb-0 mt-4">Darlene Robertson</h4>
                    <p class="fs-16 fw-normal text-center">Manchester, UK</p>
                </div>
            </div>
            <div class="detail-right-side w-100">
                <div class="d-flex align-items-center rate-stars justify-content-center">
                    <ng-container *ngFor="let item of [1, 2, 3, 4, 5]; let i = index">
                        <button *ngIf="i < 4; else unrated" class="btn p-0">
                            <img src="/assets/images/icons/star-colored.png" alt="image" loading="lazy">
                        </button>
                        <ng-template #unrated>
                            <button class="btn p-0">
                                <img src="/assets/images/icons/star-fade.png" alt="image" loading="lazy">
                            </button>
                        </ng-template>
                    </ng-container>
                </div>
                <textarea class="w-100 border-0 p-3 mt-5 fs-14"
                    placeholder="How was your experience about this seller?"></textarea>
                <div class="fs-16 fw-normal d-flex align-items-center btns mt-5">
                    <a routerLink="/post-performance/12"
                        class="text-decoration-none text-center text-white bg-dark-450 rounded-pill px-3 py-2">
                        Review Seller
                    </a>
                    <a routerLink="/post-performance/12"
                        class="text-decoration-none text-center text-white bg-dark-450 rounded-pill px-3 py-2">
                        Skip
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</main>