.post-detail-container {
  margin-top: 50px;
  max-width: 872px;

  .btns {
    gap: 32px;

    a {
      width: 50%;
    }
  }

  h4 {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .detail-right-side {
    max-width: 424px;
  }

  .rate-stars {
    column-gap: 20px;

    img {
      width: 57px;
    }
  }

  textarea {
    ::placeholder {
      color: #1E293B57;
    }

    background: #EBEBEB;
    border-radius: 19px;
    appearance: none;
    min-height: 171px;
  }

  .seller-bio {
    img {
      width: 158px;
      height: 132px;
      border-radius: 27px;
    }

    p {
      color: #1E293B75;
    }
  }
}