.content {
    img{
        width: 85px;
        height: 85px;
        object-fit: cover;
        border-radius: 16px;
        margin-right: 16px;
    }
    .detail-post-img{
        width: 48px;
        height: 48px;
    }
    .buyer-img{
        width: 37px;
        height: 37px;
    }
    .buyer-message-img{
        width: 66px;
        height: 66px;
    }
    .product-img{
        width: 70px;
        height: 70px;
    }
}