<!-- <app-header></app-header> -->
<main class="mt-16 chat-container pt-5">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="chat left-side border-r mr-4">
                <div class="border-b d-flex align-items-center justify-content-between px-2 py-3 mb-3">
                    <div class="d-flex align-items-center message-count">
                        <h2 class="fs-20 fw-semibold m-0">Messages</h2>
                        <span class="ml-3 fs-12 rounded-pill bg-yellow-800 d-block text-center">12</span>
                    </div>
                    <i class="fa fa-plus rounded-pill text-white bg-dark text-center cursor-pointer"></i>
                </div>
                <div class="message-content pl-2 pr-1">
                    <div class="input-search rounded-2 py-1 px-3 mb-3">
                        <i class="fa fa-search mr-2"></i>
                        <input type="text" placeholder="Search..." class="border-0 bg-transparent py-2">
                    </div>
                    <div class="users pr-2">
                        @for (item of [1,2,3,4,5,6,7,8,8,8,8,8,8,8]; track $index) {
                        <div class="p-2 d-flex align-items-center rounded-2 mb-3 {{$index==0 &&'bg-yellow-800'}}">
                            <img src="/assets/images/banner3.webp" alt="image" loading="lazy" class="rounded-2">
                            <div class="ml-3 flex-grow-1">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h2 class="fs-14 fw-semibold m-0">Elmer Laverty</h2>
                                    <span class="fs-14 fw-normal text-slate-400">1h</span>
                                </div>
                                <p class="m-0 fs-12 fw-normal text-slate-400">message</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="chat right-side flex-grow-1">
                <div class="border-b">
                    <div class="pb-3 px-4 d-flex align-items-center top">
                        <img src="/assets/images/banner3.webp" alt="image" loading="lazy" class="rounded-2">
                        <div class="ml-3">
                            <h2 class="fs-20 fw-semibold m-0">Florencio Dorrance</h2>
                            <div class="fs-12 fw-semibold text-slate-400 d-flex align-items-center">
                                <span class="dot rounded-pill mr-1"></span>
                                Online
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bid-box mx-auto text-center p-4 position-relative">
                    <img src="/assets/images/banner3.webp" alt="image" loading="lazy"
                        class="rounded-pill position-absolute">
                    <p class="pt-3 mt-2 fs-12 fw-semibold m-0">Sent you a offer</p>
                    <h1 class="fs-22 fw-bold m-0 py-3">$500</h1>
                    <div class="mt-2 d-flex align-items-center">
                        <button class="btn bg-dark rounded-pill fs-8 text-white flex-grow-1">Reject Offer</button>
                        <button class="btn bg-dark rounded-pill fs-8 text-white flex-grow-1 mx-3">Accept Offer</button>
                        <button class="btn bg-dark rounded-pill fs-8 text-white flex-grow-1">Counter Offer</button>
                    </div>
                </div>
                <div class="messages-side mt-5 pt-5">
                    <div class="d-flex align-items-center">
                        <img src="/assets/images/banner3.webp" alt="image" loading="lazy" class="rounded-2">
                        <div class="msg-content ml-3 rounded-pill px-3 fs-14 py-2">
                            just ideas for next time
                            <img src="/assets/images/banner3.webp" alt="image" loading="lazy" class="rounded-pill">
                        </div>
                    </div>
                </div>
                <div class="message-input d-flex align-items-center mt-5 mb-4">
                    <button class="btn bg-transparent"><i class="fas fa-paperclip"></i></button>
                    <div class="d-flex align-items-center flex-grow-1 position-relative">
                        <input type="text" placeholder="Type a message" class="flex-grow-1 py-2 px-2 rounded-2">
                        <button class="btn bg-transparent position-absolute"><i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>