<div class="row">
  <form  [formGroup]="postForm"  (ngSubmit)="onSubmit()">
    <div class="col-11 mx-auto mt-5">
      <label> Upload Image</label>
      <div *ngIf="selectedFiles.length > 0">
          <div class="row">
            <div class="col-12 mb-3 preview-img">
              <img (click)="selectImage(0)" [class.selected]="0 === selectedImageIndex"
                   [src]="selectedFiles[0].src" alt="Selected Image"
                   class="img-thumbnail w-100 fixed-height">
            </div>
            
            <div class="col-md-2 col-6 mb-3"
            *ngFor="let file of selectedFiles.slice(1); let i = index"
            [class.selected]="i + 1 === selectedImageIndex"
            (click)="selectImage(i + 1)">
         <img [src]="file.src" alt="Selected Image" class="img-thumbnail selected-images">
       </div>
       
          </div>
      </div>
      <div class="row">
        <div class="col-12 browse-image">
          <img src="assets/images/add-post-img.png" class="w-100" alt="" (click)="fileInput.click()">
          <input #fileInput type="file" (change)="onFileChange($event)" accept="image/*" style="display: none;" multiple>
          <div  *ngIf="imageError !== null" class="alert alert-warning mt-2 " role="alert">
            {{ imageError }}
          </div>
          
        </div>
      </div>
      <div class="row mt-5 justify-content-end align-items-center"
      *ngIf="selectedFiles.length > 0">
      <div class="col-md-4 col-6">
          <button class="btn btn-outline-secondary w-100 sm-cat-text3"
              (click)="deleteSelectedImage()">
              <img src="assets/images/trash.png" style="margin-right: 10px;" alt=""> Delete
              Image
          </button>
      </div>
      <div class="col-md-4 col-6">
          <button class="btn btn-dark w-100 sm-cat-text3" (click)="confirmSelection()">
              <img src="assets/images/gallerySelect.png" style="margin-right: 10px;" alt="">
              Select Image
          </button>
      </div>
  </div>
      </div>
      <div class="col-11 mx-auto mt-5">
        <div class="form-group mb-0">
          <label class="product-detail-player-tag-id-label text-black">Title<span class="text-danger">*</span></label>
          <input [disabled]="isProcessing" type="text" formControlName="postTitle" placeholder="Enter the title"
              class="form-control inputHeight my-0"
              [ngClass]="{ 'is-invalid': (isErrorOnSubmit && f['postTitle'].errors) || (f['postTitle'].errors && f['postTitle'].touched) }"
              maxlength="100" />
          <div *ngIf="(isErrorOnSubmit && f['postTitle'].errors) || (f['postTitle'].errors && f['postTitle'].touched)"
              class="invalid-feedback">
              <div *ngIf="f['postTitle'].errors['required']">Title is required</div>
              <div *ngIf="f['postTitle'].errors['maxlength']">*Maximum length is 100 characters</div>
          </div>
      </div>
      
        <div class="form-group mb-0">
          <label class="product-detail-player-tag-id-label text-black">Description</label>
          <textarea [disabled]="isProcessing" formControlName="description" placeholder="Enter the description"
                    class="form-control inputHeight my-0"
                    rows="5"></textarea>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-0">
            <label class="product-detail-player-tag-id-label text-black">Category<span class="text-danger">*</span></label>
            <select 
                [disabled]="isProcessing" 
                formControlName="category" 
                class="form-control inputHeight my-0"
                [ngClass]="{ 'is-invalid': (isErrorOnSubmit && f['category'].errors) || (f['category'].errors && f['category'].touched) }">
                <option value="" disabled>Select a category</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
            <div *ngIf="(isErrorOnSubmit && f['category'].errors) || (f['category'].errors && f['category'].touched)" 
                 class="invalid-feedback">
                <div *ngIf="f['category'].errors['required']">Category is required</div>
            </div>
        </div>
        </div>
        <div class="col-md-6" *ngIf="IsSubCategory">
          <div class="form-group mb-0">
            <label class="product-detail-player-tag-id-label text-black">Subcategory<span class="text-danger">*</span></label>
            <select 
                formControlName="subcategory" 
                class="form-control inputHeight my-0"
                [ngClass]="{ 'is-invalid': (isErrorOnSubmit && f['subcategory'].errors) || (f['subcategory'].errors && f['subcategory'].touched) }">
                <option value="" disabled>Select a subcategory</option>
                <option *ngFor="let subcategory of subCategories" [value]="subcategory.id">{{ subcategory.name }}</option>
            </select>
            <div *ngIf="(isErrorOnSubmit && f['subcategory'].errors) || (f['subcategory'].errors && f['subcategory'].touched)" 
                 class="invalid-feedback">
                <div *ngIf="f['subcategory'].errors['required']">Subcategory is required</div>
            </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-0" *ngIf="selectedCategoryName=='Mobiles'">
            <label class="product-detail-player-tag-id-label text-black">Brand<span class="text-danger">*</span></label>
            <select 
                [disabled]="isProcessing" 
                formControlName="brand" 
                class="form-control inputHeight my-0"
                [ngClass]="{ 'is-invalid': (isErrorOnSubmit && f['brand'].errors) || (f['brand'].errors && f['brand'].touched) }">
                <option value="" disabled>Select a brand</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
            <div *ngIf="(isErrorOnSubmit && f['brand'].errors) || (f['brand'].errors && f['brand'].touched)" 
                 class="invalid-feedback">
                <div *ngIf="f['brand'].errors['required']">Brand is required</div>
            </div>
        </div>
        
        </div>
      </div>
      </div>
  </form>
</div>