.border-error {
    border: 2px solid red;
  }
  .browse-image{
    cursor: pointer
  }
  .fixed-height {
    height: 250px; /* Adjust the height as needed */
    object-fit: cover; /* This makes sure the image covers the container */
  }
  .selected-images{
    width: 100%; /* Makes the image fill the container width */
    height: 150px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensures the image covers the container without distortion */
  }
  
  .selected {
    border: 1px solid blue;
  }
  input,textarea{
    padding: 3vh;
    border-radius: 2vh;
  }
  select{
    border-radius: 2vh;
  }
  .ng-valid.ng-dirty:not(form) {
    border: solid 2px lightgreen;
  }
  
  .ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
    border: solid 2px lightcoral;
  }