<div class="container-fluid">
  <div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
  </div>
  <!-- sidebar-small-link-category -->
  <div [class.open]="sideBarVale" class="overlay">
    <div class="container">
      <div
        style="
          display: flex;
          justify-content: end;
          color: azure;
          padding-top: 10px;
          cursor: pointer;
        "
      >
        <svg
          stroke=""
          fill="#ffffff"
          stroke-width="0"
          version="1.1"
          viewBox="0 0 16 16"
          height="1.5rem"
          width="1.5rem"
          xmlns="http://www.w3.org/2000/svg"
          (click)="sideBar()"
        >
          <path
            d="M8 0c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8-3.582-8-8-8zM8 14.5c-3.59 0-6.5-2.91-6.5-6.5s2.91-6.5 6.5-6.5 6.5 2.91 6.5 6.5-2.91 6.5-6.5 6.5z"
          ></path>
          <path
            d="M10.5 4l-2.5 2.5-2.5-2.5-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 2.5-2.5 2.5 2.5 1.5-1.5-2.5-2.5 2.5-2.5z"
          ></path>
        </svg>
      </div>

      <div class="sidebar-category top-content-sideBar">
        <!-- right-side-in-nav -->
        <div class="navbar-right-images">
          <!-- gray-links -->
          <div class="gray-links">
            <div class="border-right text-center text-img">
              <a
                style="text-decoration: none; color: #636a80"
                routerLink="/profilePageBy/{{ currentUser.id }}/savedItems"
              >
                <img
                  src="assets/images/heart.png"
                  alt="saved"
                  loading="lazy"
                  class="navbar-heart-chat-tag-img"
                />
                <p class="text-a">Saved</p>
              </a>
            </div>

            <div class="border-right text-center text-img">
              <a
                routerLink="/chatBox/{{ currentUser.id }}"
                style="text-decoration: none; color: #636a80"
              >
                <img
                  src="assets/images/messages.png"
                  alt="chat"
                  loading="lazy"
                />
                <p class="text-a">Chat</p>
              </a>
            </div>

            <div class="border-right text-center text-img">
              <div (click)="toggleDropdown($event)">
                <a
                  routerLink="/selling/{{ currentUser.id }}"
                  style="color: #636a80"
                >
                  <img src="assets/images/tag-2.png" loading="lazy" alt="tag" />

                  <p class="text-a">Selling</p>
                </a>
              </div>
            </div>

            <!-- profile-img -->
            <div
              *ngIf="currentUser.id"
              class="mx-1 user-profile-container"
              (click)="toggleDropdown1($event)"
            >
              <div class="profile-arrow-par">
                <img
                  class="user-Profile"
                  [src]="
                    imgUrl ? imgUrl : 'assets/images/profile-placeholder.png'
                  "
                  loading="lazy"
                />
                <img
                  src="assets/images/arrow-left.svg"
                  alt="arrow-down"
                  loading="lazy"
                  class="profile-arrow"
                />
              </div>

              <!-- dropdownVisible -->
              <div *ngIf="dropdownVisible" class="dropdown-menu show">
                <a
                  class="dropdown-item"
                  href="/profilePage/{{ currentUser.id }}"
                  style="
                    font-size: 12px;
                    line-height: 8px;
                    font-weight: 500;
                    color: #636a80;
                  "
                  >View Profile</a
                >
                <button
                  class="dropdown-item"
                  (click)="logout()"
                  style="
                    font-size: 12px;
                    line-height: 8px;
                    font-weight: 500;
                    color: #636a80;
                  "
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
          <!-- three-btn-without-login -->
          <div *ngIf="!currentUser.id" class="three-btn-without-login">
            <!-- online-user -->
            <button class="btn rounded-4 mx-1 yellow-btn-nav">
              {{ onlineCount }}
              <span>Online</span>
              <img src="assets/images/global.png" />
            </button>

            <!-- product-link -->
            <a
              class="btn rounded-4 mx-1 yellow-btn-nav"
              href="profilePageBy/{{ currentUserId }}/addPost"
              >Post Product</a
            >
            <!-- login-btn -->
            <div class="mx-1">
              <button class="btn rounded-4 login-btn-nav" (click)="openModal()">
                Log In
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- sidebar-category -->
      <div class="sidebar-category">
        <app-post-categories></app-post-categories>
      </div>
    </div>
  </div>
  <!-- header-end -->
  <div class="row m-0">
    <div class="col-xl-11 mx-auto" style="margin-top: 16px">
      <!--====== nav-start =====-->
      <div class="desktop-nav-start">
        <div class="d-block">
          <div class="row align-items-center mt-2 justify-content-between">
            <div class="col-12">
              <!-- style-start -->
              <div class="d-flex align-items-center justify-content-between">
                <!-- left-side-in-nav -->
                <div class="d-flex align-items-center gap-3 navbar-desktop">
                  <!-- logo -->
                  <div class="logo">
                    <a routerLink="/">
                      <img
                        src="assets/images/LOGO.png"
                        loading="lazy"
                        alt="logo"
                      />
                    </a>
                  </div>

                  <!-- search-input -->
                  <div
                    class="search-box position-relative d-flex align-items-center mx-2"
                  >
                    <!-- Search Input -->
                    <input
                      type="text"
                      placeholder="Search"
                      class="search-input"
                      id="search"
                      name="search"
                    />
                    <!-- search-icon -->
                    <div class="icon-search">
                      <img
                        src="assets/images/search-icon.png"
                        alt="Search Icon"
                        loading="lazy"
                      />
                    </div>
                  </div>

                  <!-- user-location -->
                  <div class="d-flex align-items-center location">
                    <img
                      src="assets/images/location.svg"
                      alt="Location Icon"
                      loading="lazy"
                    />

                    <span>{{ currentUser.location }}</span>
                  </div>
                </div>

                <!-- hum-burger-start -->
                <div (click)="sideBar()" class="mx-2 ham-burger">
                  <img
                    src="assets/images/menu.svg"
                    alt="Menu Icon"
                    loading="lazy"
                  />
                </div>
                <!-- hum-burger-end ------>

                <!-- right-side-in-nav -->
                <div class="navbar-right-images d-none d-lg-flex">
                  <!-- gray-links -->
                  <!-- <app-header-gray-links [currentUserId]="currentUser.id" /> -->
                  <div class="gray-links">
                    <div class="border-right text-center text-img">
                      <a
                        [routerLink]="[
                          '/profilePageBy',
                          currentUser.id,
                          'savedItems'
                        ]"
                      >
                        <img
                          src="assets/images/heart.png"
                          alt="saved"
                          loading="lazy"
                          class="navbar-heart-chat-tag-img"
                        />
                        <p class="text-a">Saved</p>
                      </a>
                    </div>

                    <div class="border-right text-center text-img">
                      <a
                        [routerLink]="['/chatBox/', currentUser.id]"
                        style="text-decoration: none; color: #636a80"
                      >
                        <img
                          src="assets/images/messages.png"
                          alt="chat"
                          loading="lazy"
                        />
                        <p class="text-a">Chat</p>
                      </a>
                    </div>

                    <div class="border-right text-center text-img">
                      <!-- <div (click)="toggleDropdown($event)"> -->
                      <a
                        [routerLink]="['/selling/', currentUser.id]"
                        style="color: #636a80"
                      >
                        <img
                          src="assets/images/tag-2.png"
                          loading="lazy"
                          alt="tag"
                        />

                        <p class="text-a">Selling</p>
                      </a>
                      <!-- </div> -->
                    </div>
                  </div>
                  <!-- profile-img -->
                  <div
                    *ngIf="currentUser.id"
                    class="mx-1 user-profile-container"
                    (click)="toggleDropdown1($event)"
                  >
                    <a>
                      <img
                        class="user-Profile"
                        [src]="
                          imgUrl
                            ? imgUrl
                            : 'assets/images/profile-placeholder.png'
                        "
                        loading="lazy"
                      />
                      <img
                        src="assets/images/arrow-left.svg"
                        alt="arrow-down"
                        loading="lazy"
                        class="profile-arrow"
                      />
                    </a>
                    <div *ngIf="dropdownVisible" class="dropdown-menu show">
                      <a
                        class="dropdown-item"
                        [routerLink]="['/profilePage/', currentUser.id]"
                        >View Profile</a
                      >
                      <button class="dropdown-item" (click)="logout()">
                        Logout
                      </button>
                    </div>
                  </div>

                  <!-- three-btn-without-login -->
                  <div class="three-btn-without-login">
                    <!-- <app-header-yellow-black-btn
                    [currentInfo]="{ userId: currentUser.id, onlineCount }"
                  /> -->
                    <div
                      *ngIf="!currentUser.id"
                      class="three-btn-without-login"
                    >
                      <!-- online-user -->
                      <button class="btn rounded-4 mx-1 yellow-btn-nav">
                        {{ onlineCount }}
                        <span>Online</span>
                        <img src="assets/images/global.png" />
                      </button>

                      <!-- product-link -->
                      <a
                        class="btn rounded-4 mx-1 yellow-btn-nav"
                        [routerLink]="[
                          '/profilePageBy',
                          currentUser.id,
                          'addPost'
                        ]"
                        >Post Product</a
                      >
                      <!-- login-btn (click)="openModal()" -->
                      <div class="mx-1">
                        <button
                          class="btn rounded-4 login-btn-nav"
                          (click)="openModal()"
                        >
                          Log In
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--===== nav-end =====-->

      <!--====== sub-menu-start =====-->
      <div
        class="text-center sub-menu-container"
        [ngClass]="{
          'd-lg-flex': isDesktop,
          'd-md-flex': !isDesktop
        }"
      >
        <!-- Display categories based on screen size -->
        <ng-container
          *ngFor="let category of getVisibleCategories(); let i = index"
        >
          <a
            *ngIf="i < maxCategoriesToShow"
            class="category-link"
            [routerLink]="['/post/post-category', category.id]"
          >
            {{ category.title }}
          </a>
        </ng-container>

        <!-- Display the "More" dropdown if there are more than maxCategoriesToShow -->
        <div
          *ngIf="categories.length > maxCategoriesToShow"
          class="more-dropdown"
        >
          <a class="more-link" (click)="toggleMobileMenu()">More</a>

          <div class="dropdown-content" *ngIf="isMobileMenuVisible">
            <a
              *ngFor="let category of categories.slice(maxCategoriesToShow)"
              class="category-link"
              [routerLink]="['/post/post-category', category.id]"
            >
              {{ category.title }}
            </a>
          </div>
        </div>
      </div>
      <!--====== sub-menu-end =====-->
    </div>
  </div>
  <!-- header-end -->
</div>
<!-- hr-line-break -->
<hr class="" style="width: 100%; margin-top: 10.5px" />
