.navbar-desktop {
  .logo {
    width: 133.36px;
    height: 35.79px;
    object-fit: contain;
    cursor: pointer;
  }
  .location {
    img {
      width: 20px;
      height: 20px;
      filter: brightness(0) saturate(100%) invert(61%) sepia(7%) saturate(0%)
        hue-rotate(189deg) brightness(92%) contrast(88%);
    }
    span {
      color: #636a80 !important;
      font-size: 12px;
      margin-left: 5px;
      line-height: 18px;
      font-weight: 400;
    }
  }
}
.search-box {
  width: 280px;
  border-radius: 13px;
  border: 1px solid lightgray;
  padding: 1px;
  .search-input {
    border: none;
    border-radius: 13px 0 0 13px;
    font-size: 12px;
    line-height: 8.64px;
    font-weight: 400;
    color: #292d32;
    width: 50% !important;
    outline: none; /* Remove outline on focus */
    box-shadow: none; /* Remove focus ring */
    padding: 10px;
  }
  .for-sale-search-icon {
    width: 50%;
    span {
      margin-right: 10px;
      font-size: 12px;
      font-weight: 600;
      line-height: 8.64px;
      img {
        width: 12px;
        height: 12px;
        transform: rotate(90deg);
        margin-left: 4px;
      }
      .icon-search {
        width: 28px;
        img {
          width: 100%;
          aspect-ratio: unset;
        }
      }
    }
  }
}

.near-profile-images {
  .text-img {
    a{
      text-decoration: none;
      color:#636a80 !important ;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        color: #636a80 !important;
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 3px;
      }
    }
    
    
  }
}

// .header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background-color: #fff;
//   padding: 30px 90px;
//   flex-wrap: wrap;
// }

// .logo {
//   display: flex;
//   align-items: center;
// }

// .logo-image {
//   width: 180px;
//   height: 60px;
//   margin-right: 10px;
// }

// .logo-text {
//   font-size: 20px;
//   font-weight: bold;
// }

// .search-bar {
//   display: flex;
//   align-items: center;
//   flex: 1;
//   margin: 0 20px;
//   max-width: 600px;
// }

// .search-input {
//   flex: 1;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 50px 0 0 50px;
//   outline: none;
// }

// .divider {
//   height: 24px;
//   width: 1px;
//   background-color: #ccc;
//   margin: 0 10px;
// }

// .dropdown {
//   border: none;
//   background-color: transparent;
//   font-size: 16px;
//   outline: none;
// }

// .search-button {
//   background-color: #333;
//   border: none;
//   padding: 10px 15px;
//   color: white;
//   cursor: pointer;
//   border-radius: 0 50px 50px 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .right-section {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   position: relative;
// }

// .location {
//   display: flex;
//   align-items: center;
//   margin-right: 20px;
//   color: #b6b5b5;
// }

// .location-icon {
//   width: 20px;
//   height: 20px;
//   margin-right: 5px;
// }

// .menu {
//   display: flex;
//   align-items: center;
//   margin-right: 20px;
// }

// .menu-item {
//   display: flex;
//   align-items: center;
//   margin-right: 20px;
//   text-decoration: none;
//   color: #b6b5b5;
// }

// .menu-item img {
//   width: 20px;
//   height: 20px;
//   margin-right: 5px;
// }

// .post-button {
//   background-color: #ffcc00;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 50px;
//   cursor: pointer;
//   font-size: 16px;
//   margin-right: 10px;
// }

// .login-button {
//   background-color: #333;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 50px;
//   cursor: pointer;
//   font-size: 16px;
// }

// .menu-icon {
//   display: none;
//   cursor: pointer;
// }

// .menu-icon img {
//   width: 30px;
//   height: 30px;
// }

// .anchor-list {
//   background-color: #fff;
//   padding: 10px 0;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
// }

// .anchor-list .container {
//   display: flex;
//   justify-content: center;
// }

// .anchor-list a {
//   text-decoration: none;
//   color: #b6b5b5;
//   font-size: 16px;
//   margin: 0 15px;
//   white-space: nowrap;
// }

// @media (max-width: 768px) {
//   .header {
//     padding: 10px 20px;
//     flex-direction: column;
//   }

//   .search-bar {
//     width: 100%;
//     margin-bottom: 20px;
//   }

//   .right-section {
//     width: 100%;
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .menu {
//     display: none;
//     flex-direction: column;
//     align-items: flex-start;
//     background-color: #fff;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     position: absolute;
//     top: 60px;
//     right: 20px;
//     padding: 10px;
//     width: calc(100% - 40px);
//   }

//   .menu-item, .post-button, .login-button {
//     margin-bottom: 10px;
//   }

//   .menu-icon {
//     display: block;
//   }

//   .menu-active {
//     display: flex;
//   }
// }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 90px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 180px;
  height: 60px;
  margin-right: 16px;
}
h6 {
  color: #1b2028;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 250px;
}

// .search-input {
//   flex: 1;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 50px 0 0 50px;
//   outline: none;
// }

.border-right {
  border-right: #ccc;
  height: 40px;
}

.divider {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.dropdown {
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 20%;
  min-width: 7rem;
  z-index: 1000;
  display: none;
  padding: 5px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
  left: 59%;
  margin-right: 14%;
}

.search-button {
  background-color: #333;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #b6b5b5;
}

.location-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #b6b5b5;
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.post-button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.login-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

.anchor-list {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.anchor-list .container {
  display: flex;
  justify-content: center;
}

.container a {
  color: #636a80 !important;
  font-size: 2vh !important;
}

.container a:hover {
  color: blue !important;
}

.anchor-list a {
  text-decoration: none;
  color: #b6b5b5;
  font-size: 16px;
  margin: 0 15px;
  white-space: nowrap;
}

@media (max-width: 1030px) {
  .header {
    padding: 10px 20px;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  // .search-bar {
  //   width: 33vw;
  //   margin-bottom: 10px;
  // }

  .right-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .location {
    margin-bottom: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    width: calc(100% - 40px);
  }

  .menu-item,
  .post-button,
  .login-button {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
  }

  .menu-active {
    display: flex;
  }
}

/* login-modal.component.css */
.modal-content {
  border-radius: 20px;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  justify-content: center;
}

.modal-header .close {
  position: absolute;
  right: 35px;
}

.modal-header .back {
  position: absolute;
  left: 35px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-body .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 10px;
}

.modal-body .btn img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.modal-body p {
  font-size: 12px;
  color: #888;
}

.modal-body p a {
  color: #007bff;
  text-decoration: none;
}

.getItNow {
  color: #767e94;
  font-size: 10px;
}

.store {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ebeef7;
}

.store:hover {
  border: none;
}

.bidButton {
  background-color: #1e293b;
  border-radius: 50px;
  color: white;
  border: none;
}

.pointer {
  cursor: pointer !important;
}

p:hover {
  color: #007bff !important;
}

.slide-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}

.slide-menu.open {
  max-height: 500px;
}

.scroll-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media (width < 1030px) {
  .scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    justify-content: left;
    scrollbar-width: none;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .scroll-container a {
    display: inline-block;
    margin-right: 3.7vh;
    color: #636a80;
    text-decoration: none;
    white-space: nowrap;
  }

  .sm-img-menu {
    width: 5vh !important;
  }
  .sm-input-size {
    border-radius: 10px;
    font-size: 1.5vh !important;
    padding: 6px;
  }
}

@media (width < 1030px) {
  // .scroll-container {
  //   display: flex;
  //   overflow-x: auto;
  //   white-space: nowrap;
  //   padding: 10px 0;
  //   scrollbar-width: none;
  // }

  // .scroll-container::-webkit-scrollbar {
  //   display: none;
  // }

  // .scroll-container a {
  //   display: inline-block;
  //   margin-right: 3.7vh;
  //   color: #636A80;
  //   text-decoration: none;
  //   white-space: nowrap;
  // }

  .position {
    display: flex;
  }

  // .search-bar {
  //   width: 200px !important;
  // }

  .sm-img-logo {
    width: 9vw !important;
  }

  .sm-img-icon {
    width: 20px !important;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -4%;
    z-index: 1000;
    display: none;
    padding: 5px;
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
}

.userProgile {
  width: 38px;
  height: 38px;
  border-radius: 12px;
}

.user-profile-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: "1px solid red";
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-item {
  padding: 8px 7px;
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.scroll-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.nav-link,
.dropdown-link {
  margin-right: 3.7vh;
  font-size: 2vh;
  color: #636a80;
  text-decoration: none;
}

.nav-link:hover,
.dropdown-link:hover {
  color: #000; /* Change color on hover */
}

a {
  text-decoration: none;
}
.menu {
  position: relative;
}
.menu a {
  display: inline-block;
}
.dropdown-content {
  top: 20px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Lighter shadow with blur */
  z-index: 1;
  text-align: left;
}

.dropdown-content a {
  color: #636a80;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

// .menu:hover .dropdown-content {
//   display: block;
//   top: 20px;
// }

.more-menu {
  top: 20px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Lighter shadow with blur */
  z-index: 1;
  // display: block;
  // position: absolute;
  // background-color: #fff;
  // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  // z-index: 1;
  // right: 20px;
}

.more-menu a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #636a80;
  font-size: 12px;
  text-align: left;
}

.more-menu a:hover {
  background-color: #f1f1f1;
}

.mobile-drop-down {
  top: 20px;
  left: -761%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Lighter shadow with blur */
  z-index: 1;
  // display: block;
  // position: absolute;
  // background-color: #fff;
  // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  // z-index: 1;
  // right: 20px;
}

.mobile-drop-down a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #636a80;
  font-size: 12px;
  text-align: left;
}

.mobile-drop-down a:hover {
  background-color: #f1f1f1;
}
@media only screen and (max-width: 768px) {
  .more-menu {
    // right: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .more-menu {
    // right: 70px;
  }
}
@media only screen and (min-width: 1024px) {
  .more-menu {
    // right: 90px;
  }
}
@media (max-width: 1024px) {
  .dropdown-menu.show {
    left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .dropdown-menu.show {
    left: 0;
    margin-right: 0;
  }
}

.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
