// .star-rating {
//     display: flex;
//     flex-direction: row;
//   }
  
//   .star {
    
//     font-size: 2rem;
//     color: #d3d3d3;
//     cursor: pointer;
//   }
  
  .star.filled {
    color: #ffc107; /* filled star color */
  }
  
  .star.disabled {
    color: #d3d3d3; /* gray color when rating is 0 */
  }
 
.star-rating{
  padding-left: 10px;
}
@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .star-rating{
    padding-left: 114px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .star-rating{
    padding-left: 13px;
  }
}

