<div class="gray-links">
    <div class="border-right text-center text-img">
      <a
        [routerLink]="[
          '/profilePageBy',
          currentUserId,
          'savedItems'
        ]"
      >
        <img
          src="assets/images/heart.png"
          alt="saved"
          loading="lazy"
          class="navbar-heart-chat-tag-img"
        />
        <p class="text-a">Saved</p>
      </a>
    </div>

    <div class="border-right text-center text-img">
      <a
        [routerLink]="['/chatBox/', currentUserId]"
        style="text-decoration: none; color: #636a80"
      >
        <img
          src="assets/images/messages.png"
          alt="chat"
          loading="lazy"
        />
        <p class="text-a">Chat</p>
      </a>
    </div>

    <div class="border-right text-center text-img">
      <!-- <div (click)="toggleDropdown($event)"> -->
        <a
          [routerLink]="['/selling/', currentUserId]"
          style="color: #636a80"
        >
          <img
            src="assets/images/tag-2.png"
            loading="lazy"
            alt="tag"
          />

          <p class="text-a">Selling</p>
        </a>
      <!-- </div> -->
    </div>
  </div>