<div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
</div>
<div class="row justify-content-center mt-2"><h6 class="">Notification</h6></div>
<div class="row align-items-center">

    <div class="col-12 mt-3" *ngFor="let data of notificationList">
        <a href="/review/{{data.user_id}}">
            <div class="row">
                <div class="col-2">
                    <img *ngIf="data.user?.img; else defaultImage" class="userImage" src="{{data.user?.img}}"  alt="image not found">
                    <ng-template #defaultImage>
                        <img src="assets/images/default-img.jpg" class="userImage" alt="image not found">
                    </ng-template>
                    <!-- <img src="{{data.user?.img}}" alt="image not found" class="userImage" alt=""> -->
                </div>
                <div class="col-7 pt-2" style="padding-left: 25px;">
                    <h6 class="p-0 m-0" style="font-size: 10px; font-weight: bold;">{{data.text}}</h6>
                    <h6 class="p-0 m-0" style="font-size: 8px; font-weight: 100;">{{data.status}}</h6>
                    <!-- <span class="m-0 p-0" style="font-size: 12px;">{{data.heading3}}</span> -->
                </div>
                <div class="col-3">
                    <span class="m-0 p-0" style="font-size: 8px;">{{data.created_at | date}}</span>
                </div>
            </div>
            <hr>
        </a>
    </div>
</div>