/* Base Styles */
.card-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.card-content {
  border: 1.5px solid #a2a2a2;
  border-radius: 12.44px;
  padding: 0.5rem;
  position: relative;
  text-align: left;

  .card-image {
    width: 100%;
    height: auto;
    border-radius: 12.44px;
    object-fit: cover;
    max-height: 250px;
  }

  .offer-sticker {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #FFD33C;
    padding: 0.5vh 4vh;
    border-radius: 2vh;
    font-size: 16px;
  }

  .wish-list {
    position: absolute;
    top: 15px;
    right: 15px;

    img {
      cursor: pointer;
    }
  }

  .card-details {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    .price {
      font-size: 20px;
      font-weight: 600;
    }

    .remaning-timer {
      background-color: #FFD33C;
      border-radius: 5px;
      padding: 0.2rem 0.5rem;
      font-size: 14px;
    }
  }

  .card-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 0.5rem;
  }

  .attributes {
    display: flex;
    gap: 10px;

    .attribute-item {
      font-size: 14px;
      color: #8E8E8E;

      img {
        margin-right: 0.3rem;
        vertical-align: middle;
      }
    }
  }

  .location-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;

    .location-icon {
      width: 7%;
    }

    .location {
      font-size: 2.5vh;
      margin-left: 5px;
      color: #8E8E8E;
    }
  }

  .bid-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #1E293B;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    margin-top: 0.5rem;
    font-size: 18.66px;
    font-weight: 400;
    line-height: 27.99px;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media Queries for Small and Medium Screens */
@media (max-width: 768px) { /* Medium screens */
  .card-content {
    padding: 0.5rem !important;
  }

  .offer-sticker {
    font-size: 14px !important; 
    padding: 0.4vh 3vhv!important; 
  }

  .card-details {
    .price {
      font-size: 18px !important; 
    }

    .remaning-timer {
      font-size: 12px !important; 
    }
  }

  .card-title {
    font-size: 14px !important; 
  }

  .attributes {
    .attribute-item {
      font-size: 12px !important; 
    }
  }

  .location {
    font-size: 2vh !important; 
  }

  .bid-button {
    font-size: 16px !important;
    padding: 0.4rem !important;
  }
}

@media (max-width: 480px) { 
  .offer-sticker {
    font-size: 12px !important; 
    padding: 0.3vh 2vh !important;  
  }

  .card-details {
    .price {
      font-size: 16px !important; 
    }

    .remaning-timer {
      font-size: 12px !important; 
    }
  }

  .card-title {
    font-size: 13px !important; 
  }

  .attributes {
    .attribute-item {
      font-size: 11px !important; 
    }
  }

  .location {
    font-size: 1.5vh !important; 
  }

  .bid-button {
    font-size: 15px !important; 
    padding: 0.3rem !important; 
  }
}
