<div class="card-wrapper">
  <div class="card-content">
    <img
      class="card-image"
      src="https://ttoffer.com/backend/public/storage/ads_imgs/MMGuYTaRw-c2187d31-e349-4ae9-b933-9443ee8e696c1725185067.jpg"
      alt="Product Image"
      loading="lazy"
    />
    <div *ngIf="Special" class="offer-sticker">Special Offer</div>
    <div class="wish-list">
      <img src="assets/images/fav.png" alt="Wishlist" loading="lazy" />
    </div>

    <div class="card-details">
      <b class="price">AED 15000</b>
      <div *ngIf="Special" class="remaning-timer">15:50 Remaining</div>
    </div>

    <h5 class="card-title ellipsis">HYUNDAI GRAND | 10 1.3 CRDI</h5>

    <div class="attributes">
      <div class="attribute-item">
        <img src="assets/images/date.svg" alt="date" loading="lazy" /><span
          >2024</span
        >
      </div>
      <div class="attribute-item">
        <img src="assets/images/km.svg" alt="km" loading="lazy" /><span
          >Km 1500</span
        >
      </div>
    </div>

    <div class="location-wrapper">
        <img src="assets/images/location.svg" class="location-icon" alt="">
        <span class="location">{{ location.length > 24 ? (location | slice: 0:20) + '...' : location }}</span>
      </div>
      

    <a href="#" class="bid-button">Bid Now</a>
  </div>
</div>

<!-- <div class="card mb-3 w-100 p-1">
  <div class="m-2 card border-0">
      <img class="position-relative  card-image"  
           src=" https://ttoffer.com/backend/public/storage/ads_imgs/MMGuYTaRw-c2187d31-e349-4ae9-b933-9443ee8e696c1725185067.jpg" >
          
      
      <div class="position-absolute bg-warning offer-sticker" >
          <span class="m-0 .offer-Title" >Special Offer</span>
      </div>
      <div class="position-absolute wish-list">
          <img  src="assets/images/fav.png" alt=""
              >
          
      </div>
      <div class="d-flex justify-content-between mt-2">
          <b class="price">
              AED 15000
          </b>
        <div class="remaning-timmer">
              <span 
                  class="p-1">15:50 Remaning</span>
          </div>
      </div>
      <h5 class="ellipsis card-Title mt-1">New Product</h5>
      <div class="row attribute">
          <div  class="m-2">
              <img src="assets/images/date.svg"  alt="">
              <span class="sm-cat-text3 attribute-titile" >
                2024    -->
<!-- {{ item.created_at | date: 'yyyy' }} -->
<!-- </span>
          </div> -->
<!-- <div *ngIf="isVehicle(item)" class="m-2">
              <img src="assets/images/date.svg"  alt=""><span
                  class="sm-cat-text3 attribute-titile" 
                  >{{ item.created_at | date: 'yyyy' }}</span>
          </div> -->
<!-- <div  class="m-2">
              <img src="assets/images/km.svg"  alt="">
              <span class="sm-cat-text3 attribute-titile" >
                   Km 1500
              </span>
          </div> -->
<!-- <div *ngIf="isVehicle(item)" class="m-2">
              <img src="assets/images/petrol.svg"  alt="">
              <span class="sm-cat-text3 attribute-titile" >
                  {{ petrol(item) }}
              </span>

          </div>

          <div *ngIf="isProperty(item)"  class="m-2">
              <img  src="assets/images/bath.png" alt=""><span
                  class="sm-cat-text3 attribute-titile" >{{bath(item)}}</span>
          </div>
          <div   class="m-2">
              <img  src="assets/images/bed.png" alt=""><span
                  class="sm-cat-text3 attribute-titile">{{bed(item)}}</span>
          </div>
          <div   class="m-2">
              <img  src="assets/images/dining.png" alt=""><span
                  class="sm-cat-text3 attribute-titile"
                  ></span>
          </div> -->
<!-- </div>
      <div class="d-flex  pl-0" >
          <img src="../../../assets/images/location.svg" class="location-icon" alt=""><span
              class="sm-cat-text4 location">Lahore</span>
      </div>
      <a href="#" class="bidButton d-flex justify-content-center align-items-center p-2 mt-2">Bid Now</a>

  </div>
</div> -->
