<div *ngIf="!currentInfo.userId" class="three-btn-without-login">
  <!-- online-user -->
  <button class="btn rounded-4 mx-1 yellow-btn-nav">
    {{ currentInfo.onlineCount }}
    <span>Online</span>
    <img src="assets/images/global.png" />
  </button>

  <!-- product-link -->
  <a
    class="btn rounded-4 mx-1 yellow-btn-nav"
    [routerLink]="['/profilePageBy', currentInfo.userId, 'addPost']"
    >Post Product</a
  >
  <!-- login-btn (click)="openModal()" -->
  <div class="mx-1">
    <button class="btn rounded-4 login-btn-nav">Log In</button>
  </div>
</div>
