header {
    ul {
        &:first-child {
            width: 800px;
            column-gap: 15px;

            input {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                padding: 11px 10px;

                &:focus-visible {
                    outline: none;
                    border-color: #00e4ea;
                }
            }

            button {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 12px 16px;
                border: none;
            }
        }

        &:last-child {
            li a.link {
                position: relative;
                cursor: pointer;
                display: block;
                min-width: 60px;
                text-align: center;
            }
        }

        .user-profile {
            border-color: #00e4ea;

            button::after {
                display: none;
            }
        }
    }

    .more-categories {
        z-index: 99;
        right: 0;
    }

    .user-profile-drow-donw.dropdown-menu {
        all: unset;
        display: none;
        right: 0;
        max-height: 80vh;
        overflow-y: auto;
        right: 0;
        top: calc(100% + 0.8rem);
        z-index: 1;
        transform: unset !important;
        top: unset !important;
        left: unset !important;
    }

    .user-profile-drow-donw {
        max-height: 80vh;
        overflow-y: auto;
        right: 0;
        top: calc(100% + .8rem);
        z-index: 1;

        a {
            border-right: unset;
            padding: 12px 0;
        }
    }

    .btn.focus,
    .btn:focus {
        box-shadow: none;
    }

    .show {
        .user-profile-drow-donw {
            display: block;

        }
    }

    button:focus {
        outline: none;
    }
}

@media (max-width:1024px) {
    .md-fs-12 {
        font-size: 12px;
    }

    nav {
        .location-item {
            font-size: 12px;
        }

        .search-bar {
            position: absolute;
            bottom: -56px;
            left: 0;
            right: 0;
            margin: auto;
            background: #fff;
            z-index: 99;
            padding: 0px 15px 10px;
            display: none !important;
        }

        .link {
            min-width: 50px !important;
            font-size: 10px;
            padding: 0 !important;
        }

        .show-search {
            display: flex !important;
        }

        .categories {

            &.fs-14,
            button {
                font-size: 12px;
            }
        }
    }
}

@media (max-width:576px) {
    nav {

        i.fs-20,
        i.fs-18 {
            font-size: 16px;
        }
    }

    .dropdown,
    .catagory-parent {
        position: unset !important;
    }

    .catagory-parent {
        button {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .dropdown-menu.show {
            width: 100%;
            top: -5px !important;
            left: 0;
            text-decoration: unset !important;
            transform: translate3d(0px, 134px, 0px) !important
        }
    }

    .xs-d-none {
        display: none !important;
    }

    .header-logo {
        width: 40px;
    }
    .xs-pl-16{
        padding-left: 16px;
    }
    .xs-pr-16{
        padding-right: 16px;
    }
}
