<div class="container-fluid">
    <div class="col-xl-11 mx-auto">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
          <app-post-heading></app-post-heading>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-none d-xl-block">
          <app-post-price></app-post-price>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <app-post-gallery></app-post-gallery>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <!-- <div>
            <app-post-offer-actions></app-post-offer-actions>
          </div>
          <div class="d-block d-xl-none">
            <app-post-price></app-post-price>
          </div>  
          <div>
              <app-post-user-info></app-post-user-info>
            </div>
            <div class="mt-4">
              <app-single-post-detail></app-single-post-detail>
            </div> -->
            <div>
              <app-post-bits></app-post-bits>
            </div>
        </div>
      </div>
      
        <div class="row mt-2 d-none d-xl-block">
            <div class="col-8">
                <h5>Descriptions</h5>
                <p style="word-wrap: break-word; color: #767E94; font-size: 2.2vh;">Description</p>
              </div>
      
    </div>
      </div>
      </div>