<div class="row m-0 border-top">
  <div class="col-xl-11 mx-auto first-footer xs-px-0">
    <div class="row justify-content-between m-0">
      <!-- one -->
      <div class="col-xl-3 col-md-6">
        <a href="/">
          <div class="footer-logo">
            <img src="assets/images/LOGO.png" alt="footer-logo" />
          </div>
        </a>
        <div class="footer-points">
          <p class="">4617 Washington Ave. Manchester, Kentucky 39495</p>
          <p class="">Phone: (405) 555-0128</p>
          <p class="">Mail: Adfinity&#64;gmail.com</p>
        </div>
      </div>
      <!-- two -->
      <div class="col-xl-2 col-md-6">
        <h5 class="footer-headings support-heading">Supports</h5>
        <div class="footer-points margin-top-class">
          <p class="">
            <a
              href="contact-us"
              class=""
              style="text-decoration: none; color: #767e94; cursor: pointer"
              >Contact</a
            >
          </p>
          <p class="">
            <a class="">FAQs</a>
          </p>
        </div>
      </div>

      <!-- three -->
      <div class="col-xl-2 col-md-6 sm-mt-5">
        <h5 class="footer-headings">Quick Links</h5>
        <div class="footer-points margin-top-class">
          <p class="pointer ">About</p>
          <p class="">
            <a
              href="profilePageBy/{{ currentUserId }}/addPost"
              class=""
              style="text-decoration: none; color: #767e94; cursor: pointer"
              >Post a Ads</a
            >
          </p>
        </div>
      </div>
      <!-- four -->
      <div class="col-xl-3 col-md-6 sm-mt-5">
        <h5 class="footer-headings">Download our app</h5>

        <div class="row m-0 margin-top-class">
          <div class=" col-md-4 col-lg-5 p-0 mr-2 footer-google-app-store-btn">
            <div class="btnHover">
              <div class="row align-items-center p-1">
                <div class="col-3">
                  <img src="assets/images/google-play.png" alt="google" />
                </div>
                <div class="col-9">
                  <span class="sm-cat-text3">Get it now</span>
                  <!-- class="sm-cat-text4" -->
                  <h6>Google Play</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-5 p-0 low-300 footer-google-app-store-btn">
            <div class="btnHover">
              <div class="row align-items-center p-1">
                <div class="col-3">
                  <img src="assets/images/app-store.png" alt="" />
                </div>
                <div class="col-9">
                  <span class="sm-cat-text3">Get it now</span>
                  <h6>Apple Store</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- down-footer -->
<div class="row m-0">
  <div class="col-12 down-footer">
    <div class="row m-0">
      <div class="col-md-11 mx-auto p-0">
        <div class="row justify-content-between m-0 down-footer-text">
          <div class="col-12 col-lg-6 p-0">
            <p class="m-0 down-footer-text-first">
              © Copyright 2024
              <a href="#" style="color: black !important; font-weight: bold"
                >TT Offer</a
              >
            </p>
          </div>

          <div class="col-12 col-lg-3 p-0 down-footer-text-second">
            <a class="first-a" href="privacy-policy">Privacy Policy</a>
            |
            <a class="second-a" href="term-of-condition">Terms & Conditions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>