.first-footer {
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer-logo {
  width: 50px;
  height: 50px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-points {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #767e94;
  p{
    margin: 0px;
    padding: 0px;
  }
}

.margin-top-class {
  margin-top: 50px !important;
}

.footer-headings {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
}

.footer-icons {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #767e94;
  display: flex;
  gap: 5px;
  margin-top: 15px;
  
  a {
    color: #767e94;
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
    // background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a:hover {
    background-color: black;
    color: white;
    padding: 10px;
  }
}


.btnHover {
  background-color: #ffffff;
  border: 0.75px solid #ebeef7;
  border-radius: 5px;
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
  span {
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    color: #767e94;
  }
  h6 {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #191f33;
  }
}

.btnHover:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
  border-radius: 10px; /* Rounded corners on hover */
  cursor: pointer;
  border: none;
}

///////////////////====================down-footer-style-start==================/////////////////////////
.down-footer {
  background: #f4f4f4;
  padding: 16px;
}
.down-footer-text {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #767e94;
}

.down-footer-text-second {
  display: flex;
  justify-content: end;
  .first-a {
    margin-right: 5px;
    color: #767e94;
  }
  .second-a {
    margin-left: 5px;
    color: #767e94;
  }
}
////============================ 992px================================= /////
@media (max-width: 992px) {
  .footer-points{
    p{
      margin-top: 6px;
    }
  }
  .footer-headings{
    margin-top: 20px;
  }
  .support-heading{
    margin-top: 0px;
  }
  ///////==========================down-footer============================///////
  .down-footer {
    background: transparent;
    padding-top: 0px;
  }
  .down-footer-text {
    font-size: 12px;
    margin-top: 24px;
    padding: 12px 15px;
    background-color: #f5fffc;
  }
  .down-footer-text-first {
    text-align: center;
  }

  .down-footer-text-second {
    justify-content: center;
    margin-top: 10px;
  }
}
//////=========================== 768 ================================ /////
@media (max-width: 768px) {
  .footer-logo {
    width: 40px;
    height: 40px;
  }
  .support-heading{
    margin-top: -8px;
  }
  .footer-google-app-store-btn{
    width: 115px;
  }
}

///////======================================= 300px ==============================/////
@media (max-width: 767px) {
  .footer-logo {
    width: 40px;
    height: 40px;
  }
  .support-heading{
    margin-top: 20px;
  }
  .footer-google-app-store-btn{
    width: 115px;
  }
}
///////======================================= 300px ==============================/////
@media (max-width:400px) {
  .footer-logo {
    width: 30px;
    height: 30px;
  }
  .low-300{
    margin-top: 5px;
  }
}


