<div class="row">
  <div class="col-lg-1 col-md-2 col-2" style="font-size: 6px; cursor: pointer;">
    <i class="fa fa-arrow-left fa-2x" (click)="backButton()"></i>

  </div>
  <div class="col-lg-11 col-md-10 col-10 text-center">
    <h6 class="">Phone</h6>
  <img src="assets/images/phone-img.png" class="w-50 mt-3" alt="">
  </div>
</div>
<div class="mt-4">
  <label>Phone</label>
  <input #phoneInput="ngModel" [(ngModel)]="phone" name="phone" type="text"
    placeholder="Enter Your Phone Number" class="form-control"
    style="border-radius: 10px;" required>
</div>
<div class="mt-4">
  <label>Password</label>
  <input #passwordInput="ngModel" [(ngModel)]="password" name="password" type="password"
    placeholder="Enter Your Password" class="form-control" style="border-radius: 10px;"
    required>
  <div style="text-align: end;">
    <!-- (click)="openForgot()" -->
    <a style="cursor: pointer;" ><span>Forgot Password
        ?</span></a>
  </div>
</div>
<div class="mt-4">
  <button class="btn btn-dark w-100" style="border-radius: 20px; padding: 10px;"
    [disabled]="!phoneInput.value || !passwordInput.value"
    (click)="loginWithPhone()">Sign
    in</button>
</div>
