<main class="mt-16">
  <div class="container-fluid">
    <div class="mt-3">
      <div>
        <app-slider></app-slider>
      </div>
      <app-promotion-slider [banners]="promotionBanners" />
    </div>

    <div class="row mt-5">
      <div>
        <div class="row">
          <div class="col-xl-8">
            <h2 class="product_title">{{ featuredProducts[0]?.title }}</h2>
            <div class="d-block basic-info-product">
              <div class="d-flex align-items-center">
                <p class="sm-cat-text3 icons-plus-info">
                  <i class="fa fa-map-marker-alt fs-20 mr-2"></i>
                  {{ featuredProducts[0]?.location }}
                </p>
                <p class="mx-3 sm-cat-text3 icons-plus-info">
                  <i class="far fa-clock fs-20 mr-2"></i>
                  {{ featuredProducts[0]?.updated_at | date }}
                </p>
                <p class="sm-cat-text3 icons-plus-info">
                  <i class="far fa-eye fs-20 mr-2"></i>
                  {{ featuredProducts[0]?.views_count }} Viewed
                </p>
              </div>
            </div>
            <div class="col-12">
              @if(featuredProducts[0]?.photo.length > 0){
              <app-product-carousel
                [photo]="featuredProducts[0]?.photo"
                [video]="featuredProducts[0]?.video"
              ></app-product-carousel>
              }@else {
              <app-product-carousel
                [photo]="dummy"
                [video]="featuredProducts[0]?.video"
              ></app-product-carousel>
              }
            </div>
            <!-- small-screen -->
            <div class="d-block d-xl-none">
              <div class="row">
                <div class="col-12 col-xl-6 col-md-6 mt-5">
                  <h2 class="sm-cat-text4 detail-des">Descriptions</h2>
                  <p class="sm-font des-in-detail">
                    {{ featuredProducts[0]?.description }}
                  </p>
                </div>
                <div class="col-12 col-xl-6 col-md-6 mt-5">
                  <app-side-product-details
                    [featuredProducts]="featuredProducts"
                    [attributesObject]="attributesObject"
                    [allowedToMakeOffer]="allowedToMakeOffer"
                    [makeOfferFn]="makeOffer"
                    [openChatFn]="openChat"
                    [openModalFn]="openModal"
                    [addWishLstFn]="addWishLst"
                    [removeWishLstFn]="removeWishLst"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 mt-4 d-none d-xl-block mt-5">
            <app-side-product-details
              [featuredProducts]="featuredProducts"
              [attributesObject]="attributesObject"
              [allowedToMakeOffer]="allowedToMakeOffer"
              [makeOfferFn]="makeOffer"
              [openChatFn]="openChat"
              [openModalFn]="openModal"
              [addWishLstFn]="addWishLst"
              [removeWishLstFn]="removeWishLst"
            />
          </div>
        </div>
        <!-- descriptions -->
        <div class="d-none d-xl-block">
          <div class="row container">
            <div class="col-8 mt-5">
              <h5 class="detail-des">Descriptions</h5>
              <p class="des-in-detail">
                {{ featuredProducts[0]?.description }}
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5">
            @if(featuredProductsTemp.length){
            <app-related-carousel
              [productList]="featuredProductsTemp"
            ></app-related-carousel>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="offerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="offerModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content content-style">
        <div class="modal-header border-0 head-content">
          <!-- <button type="button" class="back" (click)="back()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
          <button
            type="button"
            class="close"
            (click)="closeModal()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body mb-3">
          <div class="row">
            <div class="col-10 mx-auto">
              <div class="text-center mb-5">
                <h5 class="">Make Offer</h5>
              </div>
              <div class="row align-items-center">
                <div class="col-4">
                  <!-- <img src="assets/images/light-clothes-img.svg" class="w-100" style="height: 94px; border-radius: 20px;" alt=""> -->

                  <img
                    [src]="featuredProducts[0]?.photo?.[0]?.src || 'assets/images/default-img.jpg'"
                    class="w-100 modal-product-img"
                    alt="product-img"
                  />
                </div>
                <div class="col-8">
                  <h6>{{ featuredProducts[0]?.title }}</h6>
                  <div class="row align-items-center">
                    <div class="col-5">
                      <img src="assets/images/stars.png" class="w-100" alt="" />
                    </div>
                    <div class="col-4">
                      <h6 class="m-0">5.0</h6>
                    </div>
                  </div>
                </div>
                <div class="col-6 mx-auto text-center mt-3">
                  <h6>Enter Your Offer</h6>
                  <input
                    [(ngModel)]="offerPrice"
                    type="text"
                    class="form-control modal-input"
                    placeholder="AED"
                  />
                </div>
              </div>

              <div class="mt-4">
                <button
                  [disabled]="idSendOfferDisabled"
                  class="btn btn-dark w-100 modal-offer-btn"
                  (click)="makeOffer()"
                >
                  Send Offer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-login-modal></app-login-modal>
</main>
