<!-- CODED BY BILAL -->
<main class="mt-16">
  <div class="container-fluid ">
    <div class="mt-3 xs-px-0">
      <div>
        <app-slider></app-slider>
      </div>
      <app-promotion-slider [banners]="promotionBanners" />
    </div>
    <div class="d-block d-lg-flex pt-5">
      <aside class="product-filter">
        <app-filters />
      </aside>
      <!-- PRODUCT SIDE -->
      <div class="flex-grow-1 pl-lg-4">
        <div class="text-center mb-4 d-flex justify-content-center d-md-block">
          <button type="button" class="btn-pro btn py-lg-2 px-lg-3 mr-1 {{activeTab=='auction'?'text-white bg-dark':'border-1'}}"
            (click)="handleTab('auction')"> Auction Products </button>
          <button type="button" class="btn-pro btn py-lg-2 px-lg-3 {{activeTab=='feature'?'bg-dark text-white':'border-1'}}"
            (click)="handleTab('feature')"> Feature Products</button>
        </div>
        <div class="row px-0 row-gap">
          @if(!data.length){
            @for(data of [1,2,3,4,5,6,7,8,9];track $index){
              <div
              class="m-1 p-0 border-1 rounded-2 shimmer-card"
              >
              <app-card-shimmer/>
              </div>
              
            }
          }@else { @for (post of data; track $index) {
          <div class="col-lg-4">
            <app-product-card
              [postData]="post"
              [postDetialUrl]="activeTab == 'feature' ? 'product-detail' : 'auction-product-detail'"
            />
          </div>
          } }
        </div>
      </div>
    </div>
  </div>
</main>
<!-- END  BY BILAL -->