<main class="mt-16">
    <div *ngIf="loading" class="text-center mt-5"><app-loader /></div>
    <div class="container post-detail-container w-100" *ngIf="!loading">
        <div class="row justify-content-between">
            <div class="pr-4 pt-2">
                <app-card [data]="{image:postData.photo[0].src,title:postData.title}">
                    <div slot="extra" class="d-flex fs-12 align-items-center pt-1 footer">
                        <span>{{postData.fix_price}}</span>
                    </div>
                </app-card>
                <div class="post-items-container d-flex">
                    <a *ngFor="let item of buttonData ; let i=index" [routerLink]="[item.href,postData.id]"
                        class="post-item text-center text-white pt-2 text-decoration-none">
                        <img src={{item.img}} alt="Eye icon" width="18">
                        <p class="fs-10 pt-1" [innerHTML]="item.text"></p>
                    </a>
                </div>
            </div>
            <div class="detail-right-side w-100">
                <div class="pl-3">
                    <img src="\assets\images\line-img.png" alt="line" style="max-width: 300px;">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img src="/assets/images/icons/status-up.png" alt="image" loading="lazy" width="20">
                            <span class="pl-3">Item Performance</span>
                        </div>
                        <i class="fa fa-angle-right"></i>
                    </div>
                    <img src="\assets\images\line-img.png" alt="line" style="max-width: 300px;">
                    <app-card [data]="{image:postData.photo[0].src,title:postData.title}">
                        <div slot="extra" class="d-flex fs-12 align-items-center pt-1 footer">
                            <span>{{+postData.is_sold?'Sold':'Not Sold'}}</span>
                        </div>
                    </app-card>
                    <div class="my-4">
                        <span class="text-dark-700 fs-12">Total Views: <strong
                                class="text-gray-600 pl-2">{{postData.total_review}}</strong></span>
                    </div>
                </div>
                <!-- CHART-->
                <div>
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                        [dataLabels]="chartOptions.dataLabels" [stroke]="chartOptions.stroke"
                        [xaxis]="chartOptions.xaxis" [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip"
                        [title]="chartOptions.title" [colors]="chartOptions.colors">
                    </apx-chart>
                </div>

                <div class="pr-chart px-3">
                    <button class="btn w-100 text-white fs-14 mt-5">Boost Plus</button>
                    <p class="text-gray-300 fs-12 text-center mt-4">Get an average of 20x more views each day</p>
                </div>
            </div>
        </div>
    </div>
</main>