<div class="row align-items-center mt-4">
  <div class="col-8">
    <div class="row align-items-center">
      <div class="col-4">
        <img src="https://ttoffer.com/assets/images/LOGO.png" class="userImage" alt="">
        
      </div>
      <div class="col-8">
        <span class="tag">Add by:</span>
        <div class="d-flex align-items-center">
          <h6 class="m-0 sm-font" style="font-size: 2vh;">Wasif Ali </h6><img
           class="verified-tick" src="assets/images/check-circle.png" alt="">
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-12 mt-4">
    <h6 class="location" class="sm-cat-text3"><img src="assets/images/MapPinLine.png"
        class="location-img">Location</h6>
  </div>
</div>