 <!-- <div class="container"> -->
  <div class="skeleton-body skel-shop-posts" [class.loaded]="loaded">
    <p class="no-results text400" *ngIf="(postList.length == 0 && loaded) else postBlock">
      No posts were found matching your selection.
    </p>
    <ng-template #postBlock>
      <div class="row" *ngIf="!loaded else elseBlock">
        <div [class]="cols" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">
          <div class="skel-pro"></div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="row">
          <div [ngClass]="cols" *ngFor="let post of postList">
            <app-post-card class="post"></app-post-card>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
<!-- </div> -->
