<div class="skeleton-body skel-shop-posts" [class.loaded]="loaded">
  <ng-container *ngIf="loaded; else skeletonBlock">
    <p class="no-results text400" *ngIf="postList.length === 0">
      No posts were found matching your selection.
    </p>
    <div class="row" *ngIf="postList.length > 0">
      <div [ngClass]="cols" *ngFor="let post of postList">
        <app-post-card class="post" [Special]="Special" />
      </div>
    </div>
  </ng-container>

  <ng-template #skeletonBlock>
    <div class="row">
      <div [ngClass]="cols" *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]">
        <div class="skel-pro"></div>
      </div>
    </div>
  </ng-template>
</div>
