.skel-pro {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-color: #ccc; 
  }
  
  .skel-pro::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%; /* Ensure it covers the parent */
    background-repeat: no-repeat;
    background-size: cover; /* Adjust to ensure the background covers */
    background-image: linear-gradient(#f4f4f4 100%, transparent 0), 
                      linear-gradient(#f4f4f4 100%, transparent 0),
                      /* Repeat as necessary */
                      linear-gradient(#f4f4f4 100%, transparent 0);
  }
  
  .skel-pro::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 80%);
    animation: skeletonloading 1.5s infinite;
    width: 200%;  /* Ensures it covers the area */
    height: 200%;  /* Ensures it covers the area */
  }
  @keyframes skeletonloading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .loaded.skel-shop-posts .post {
    display: block; /* Display posts when loaded */
}

.loaded.skel-shop-posts .skel-pro {
    display: none; /* Hide skeleton loaders when content is loaded */
}

