.aution-detail-cart{
    background-color: #F3F4F5; padding: 2vh; border-radius: 2vh; 
}
.price-col{
    border-right: 1px solid #787878; padding-right: 1vh;
}
.live-user-img{
    width: 20px; height: 20px;border-radius: 50%;
}
.live-user-detail{
    border: 1px solid black; border-radius: 50%; width: 5vh; height: 5vh;
}
.live-user-count{
    font-size: 1.8vh; margin: 0; padding: 0;
}
.live-tag{
    font-size: 2vh;padding: 4px 0px 0px 5px;
}
.live-user-info{
    width: 117px;overflow: hidden;
}
.bit-amount{
    border-radius: 3vh;
     font-size: 1.6vh;
}
.custom-bit-btn{
    border-radius: 3vh; font-size: 1.5vh; padding: 1.5vh;
}
.custom-bit-input{
    border-radius: 4vh;
}