


<div class="row aution-detail-cart">
  <div class="col-6 price-col">
      <h6 class="sm-cat-text4">Starting price</h6>
      <span class="sm-cat-text3">1500</span>
      <div class="row mt-3">
          <div class="col-6">
              <div class="d-flex flex-wrap live-user-info">

                  <div  class="d-flex me-2 mb-2">
                      <img src="assets/avatar1.jpg" alt="" class="live-user-img">
                  </div>
              </div>
          </div>
          <div class="col-6">
              <div class="d-flex justify-content-center h-100">
                  <div class="d-flex justify-content-center align-items-center me-2 live-user-detail">
                      <span class="sm-cat-text3 live-user-count">
                        15
                      </span>
                  </div>
                  <span class="sm-cat-text3 live-tag">are live</span>
              </div>
          </div>
      </div>
  </div>
  <div class="col-6">
      <h6 class="sm-cat-text4">Current Bid Price</h6>
      <span class="sm-cat-text3">AED 1200</span>
      <div class="mt-3">
          <span
              class="sm-cat-text3" >01:23 remaining</span>
      </div>
  </div>
</div>
<!-- <div class="row mt-5" >
  <div class="col-6">
      <img src="assets/images/liveDot.svg" alt="">
      <span style="font-weight: bold;">Live Auction</span>
  </div>
  <div class="col-6" style="text-align: end;">
      <span class="sm-cat-text3">1 Bids made</span>
  </div>
</div>
<div class="sidebar">
  <div class="sidebar-content">
      <div class="row mt-3 align-items-center justify-content-between"
          >
          <div class="col-9">
              <div class="row align-items-center">
                  <div class="col-3">
                      <img src="assets/avatar1.jpg" class="w-100" alt="">
                  </div>
                  <div class="col-9">
                      <h6 class="sm-cat-text4" class="m-0 p-0">Wasif Ali"</h6>
                      <span class="sm-cat-text">Sep 3, 2024</span>
                  </div>
              </div>
          </div>
          <div class="col-2" style="text-align: end;">
              <span class="sm-cat-text">1100</span>
          </div>
      </div>
  </div>
</div> -->
<div class="row mt-5">
  <div class="col-6">
    <img src="assets/images/liveDot.svg" alt="Live Auction">
    <span style="font-weight: bold;">Live Auction</span>
  </div>
  <div class="col-6" style="text-align: end;">
    <span class="sm-cat-text3">{{ bids.length }} Bids made</span>
  </div>
</div>

<div class="sidebar">
  <div class="sidebar-content">
    <div *ngFor="let bid of bids" class="row mt-3 align-items-center justify-content-between">
      <div class="col-9">
        <div class="row align-items-center">
          <div class="col-3">
            <img src="assets/avatar1.jpg" class="w-100" alt="{{ bid.user.name }}">
          </div>
          <div class="col-9">
            <h6 class="sm-cat-text4 m-0 p-0">{{ bid.user.name }}</h6>
            <span class="sm-cat-text">{{ bid.created_at | date: 'MMM d, yyyy' }}</span>
          </div>
        </div>
      </div>
      <div class="col-2" style="text-align: end;">
        <span class="sm-cat-text">{{ bid.pric }}</span>
      </div>
    </div>
  </div>
</div>

<div
                    class="row mt-3 justify-content-between">
                        <div class="col-1 sm-p-0">
                            <button id="placeBid" name="placeBid" class="btn btn-outline-dark sm-cat-text  bit-amount"
                                 >26k</button>
                        </div>
                        <div class="col-1 sm-p-0">
                            <button id="placeBid" name="placeBid" class="btn btn-outline-dark sm-cat-text3  bit-amount"
                                 >28k</button>
                        </div>
                        <div class="col-1 sm-p-0">
                            <button id="placeBid" name="placeBid" class="btn btn-outline-dark sm-cat-text3  bit-amount"
                                 >32k</button>
                        </div>
                        <div class="col-1 sm-p-0">
                            <button id="placeBid" name="placeBid" class="btn btn-outline-dark sm-cat-text3  bit-amount"
                                 >35k</button>
                        </div>
                        <div class="col-5">
                            <button id="placeBid" name="placeBid" class="btn btn-dark w-100 sm-cat-text3 sm-p-2 custom-bit-btn"
                            (click)="showInput()">use
                                custom bid</button>
                        </div>
                    </div>

                    <div
                    class="row mt-3">
                        <div class="col-12">
                            <button  id="placeBid" name="placeBid"
                                class="btn btn-dark w-100 p-3 sm-cat-text3" style="border-radius: 4vh;">Place Bid for
                                AED 150 </button>
                            <input id="placeBid" name="placeBid"  type="text"
                                placeholder="AED" class="form-control w-100 p-4 mt-3 text-center custom-bit-input"  *ngIf="showBid"
                                >
                        </div>
                    </div>
