<div>
    <h1 class="fs-24 fw-bold">All Categories</h1>
    <div class="row">
        <a *ngFor="let item of categories; let last = last" routerLink="/category/{{item.id}}/{{item.slug}}">
            <img src={{item.image}} alt={{item.name}} loading="lazy" class="rounded-pill border-1 p-3"
                [ngStyle]="{'background-color': item.color}">
            <span class="d-block text-center pt-2 fw-bold fs-14">{{item.name}}</span>
            <span *ngIf="last"
                class="bg-yellow-800 rounded-pill fs-12 p-2 fw-normal mt-2 d-block white-space-nowrap">{{item.subTitle}}</span>
        </a>
    </div>
</div>