.row {
  margin-bottom: 4rem;
  row-gap: 1.6rem;
  column-gap: 2%;

  a {
    color: #222;

    img {
      min-width: 88px;
      min-height: 88px;
      max-width: 88px;
      max-height: 88px;
      object-fit: contain;
    }

    &:hover {
      text-decoration: none;
    }

    span {
      max-width: 88px;
      line-height: 1.2;
    }
  }
}