<div class="col-11 mx-auto text-center mt-5 sm-mt-3">
    <h1 class="category-title">All Categories</h1>
    <div class="row justify-content-between justify-content-md-start sm-mt-3 mt-5">
        <div class="col-xl-1 col-md-2 col-3  mt-3 sm-m-3" 
             *ngFor="let item of firstRowItems; let last = last">
            <a class="category-link" 
               href="/categories/{{ item.id }}">
                <img class="category-image" 
                     [src]="item.imgSrc" 
                     alt="{{ item.title }}">
                <h6 class="category-title-text mt-2">{{ item.title }}</h6>
                <h6 class="coming-soon-text" *ngIf="last">
                    {{ item.subTitle }}
                </h6>
            </a>
        </div>
    </div>
</div>

