<div class="product-card p-2 border-1 rounded-2 xs-mx-auto">
    <a  [attr.aria-disabled]="postDetialUrl !== 'product-detail' ? null :  'true'"
    [routerLink]="postDetialUrl !== 'product-detail' ? null : '/' + postDetialUrl + '/' + postData?.id + '/' + postData?.slug"
    class="text-decoration-none pointer-cursor"
    (click)="postDetialUrl !== 'product-detail' ? $event.preventDefault() : null"
    [ngClass]="{'disabled-link': postDetialUrl !== 'product-detail'}">
    <article>
        <figure class="card-top position-relative {{!postData.photo[0]?.src ? 'falback-css rounded-2':''}}">
            <img *ngIf="postData.photo[0]?.src" src={{postData.photo[0]?.src}} alt="Image of HYUNDAI GRAND 10 1.3 CRDI"
                loading="lazy" class="w-100 h-100 rounded-2" />
            <figcaption class="position-absolute d-flex align-items-center justify-content-between w-100 top-0 p-3">
                <button *ngIf="postData.ProductType =='auction'"
                    class="btn bg-yellow-700 py-1 fs-14 fw-normal text-dark" aria-label="Special Offer">Special
                    Offer</button>
                <button (click)="toggleWishlist(postData)"
                    class="btn bg-white ml-auto rounded-pill icon-btn d-flex align-items-center justify-content-center hover-bg-none"
                    aria-label="Add to Wishlist">
                    <i class="{{wishList.includes(postData.id)?'fas':'far'}} fa-heart fs-19" aria-hidden="true"></i>
                </button>
            </figcaption>
        </figure>

        <section class="card-bottom pb-1 text-gray-400">
            <div class="d-flex align-items-center justify-content-between">
                <strong class="text-dark">AED {{postData?.auction_price}}</strong>
                <span *ngIf="postData.ProductType =='auction'"
                    class="bg-yellow-700 px-2 py-1 rounded fs-12 fw-normal text-dark" aria-live="polite">
                    {{postData?.isBid ? postData.calculateRemaningTime + ' remaining' : 'Bid Expired' }}
                </span>
            </div>
            <p class="m-0 pt-2">{{postData.title}}</p>

            <section class="py-2 d-flex align-items-center card-icons">
                <div>
                    <i class="fa fa-calendar mr-2 fs-14" aria-hidden="true"></i>
                    <span class="fs-14 fw-normal">{{getYear(postData.created_at)}}</span>
                </div>
                <div>
                    <i class="fa fa-road mr-2 fs-14" aria-hidden="true"></i>
                    <strong class="fs-14 text-dark">4500 km</strong>
                </div>
                <div>
                    <i class="fa fa-gas-pump mr-2 fs-14" aria-hidden="true"></i>
                    <span class="fs-14 fw-normal">Petrol</span>
                </div>
            </section>

            <address class="d-flex align-items-center m-0 mb-1">
                <i class="fa fa-map-marker-alt fs-14 mr-2" aria-hidden="true"></i>
                <span class="fs-14">{{postData.location?.slice(0, 25) }}...</span>
            </address>
        </section>

    </article>
    </a>
    <a routerLink="/{{postDetialUrl}}/{{postData?.id}}/{{postData?.slug}}" *ngIf="postData.ProductType =='auction'"
        class="mt-2 btn bg-dark-650 text-white py-2 pointer-cursor rounded-2 w-100 hover-able-btn" aria-label="Bid Now">Bid
        Now</a>
</div>