<div>
    <h2 class="fs-20 text-capitalize">{{slug}}</h2>
    <div class="fs-18 mb-2"><strong>{{globalStateService.productlength}}</strong> <span class="pl-1 text-slate-400 fs-14">Results
            Founds</span></div>
    <div class="accordion" id="productFilter">
        <!-- SUB CATEGORIES -->
        <div class="sub-categories border-1 rounded-2 px-3">
            <button id="headingOne" class="btn p-0 w-100 fs-14 py-2 text-uppercase text-left fw-semibold" type="button"
                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Sub Categories
            </button>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#productFilter">
                <div class="card-body p-0 mt-2 overflow-auto scrollable-content">
                    @for (item of subCategories; track $index) {
                    <div class="d-flex align-items-center mb-3">
                        <input type="radio" class="fs-20" name="subcate"
                            (change)="handleFilter({key:'sub_category_id',value:item.id})">
                        <span class="pl-1 fs-14">{{item.name}}</span>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="border-1 rounded-2 px-3 mt-3">
            <!-- SELLER TYPE -->
            <div class="border-b">
                <button id="sellerType" class="btn p-0 w-100 fs-14 py-2 text-uppercase text-left fw-semibold"
                    type="button" data-toggle="collapse" data-target="#collapseSellerType" aria-expanded="false"
                    aria-controls="collapseSellerType">
                    SELLER TYPE
                </button>
                <div id="collapseSellerType" class="collapse show" aria-labelledby="sellerType"
                    data-parent="#productFilter">
                    <div class="card-body p-0 mt-2">
                        @for (item of ["Verified Seller","Urgents"]; track $index) {
                        <div class="d-flex align-items-center mb-3">
                            <input type="radio" class="fs-20" name="subcate"
                                (change)="handleFilter({key:'seller_id',value:item})">
                            <span class="pl-1 fs-14">{{item}}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <!-- CONDITIONS -->
            <div class="border-b">
                <button id="condition" class="btn p-0 w-100 fs-14 py-2 text-uppercase text-left fw-semibold"
                    type="button" data-toggle="collapse" data-target="#collapsecondition" aria-expanded="false"
                    aria-controls="collapsecondition">
                    CONDITIONS
                </button>
                <div id="collapsecondition" class="collapse show" aria-labelledby="condition"
                    data-parent="#productFilter">
                    <div class="card-body p-0 mt-2">
                        @for (item of ["any","new","used"]; track $index) {
                        <div class="d-flex align-items-center mb-3">
                            <input type="radio" class="fs-20" name="condition"
                                (change)="handleFilter({key:'condition',value:item})">
                            <span class="pl-1 fs-14 text-capitalize">{{item}}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <!-- LOCATIONS -->
            <div class="border-b">
                <button id="location" class="btn p-0 w-100 fs-14 py-2 text-uppercase text-left fw-semibold"
                    type="button" data-toggle="collapse" data-target="#collapselocation" aria-expanded="false"
                    aria-controls="collapselocation">
                    TOP LOCATION
                </button>
                <div id="collapselocation" class="collapse show" aria-labelledby="location"
                    data-parent="#productFilter">
                    <div class="card-body p-0 mt-2 overflow-auto scrollable-content">
                        <div class="text-primary fw-bold mb-3 cursor-pointer"
                            (change)="handleFilter({key:'location',value:''})">Use current location</div>
                        @for (item of locations; track $index) {
                        <div class="d-flex align-items-center mb-3">
                            <input type="checkbox" class="fs-20" name="location"
                                (change)="handleFilter({key:'location',value:item})">
                            <span class="pl-1 fs-14">{{item}}</span>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <!-- LOCATION RADIUS -->
            <div class="border-b">
                <button id="locationradius" class="btn p-0 w-100 fs-14 py-2 text-uppercase text-left fw-semibold"
                    type="button" data-toggle="collapse" data-target="#collapselocationradius" aria-expanded="false"
                    aria-controls="collapselocationradius">
                    locationradius RADIUS <span class="pl-1 fs-14">32KM</span>
                </button>
                <div id="collapselocationradius" class="collapse show" aria-labelledby="locationradius"
                    data-parent="#productFilter">
                    <div class="card-body p-0 mt-2">
                        <input type="range" class="fs-20 w-100" name="locationradius">
                    </div>
                </div>
            </div>
            <!-- PRICE -->
            <!-- PRICE -->
<div>
    <button id="price" class="btn p-0 w-100 fs-14 py-2 text-uppercase text-left fw-semibold" type="button"
        data-toggle="collapse" data-target="#collapseprice" aria-expanded="false"
        aria-controls="collapseprice">
        Price
    </button>
    <div id="collapseprice" class="collapse show" aria-labelledby="price" data-parent="#productFilter">
        <div class="d-flex align-items-center price-box mb-3">
            <!-- Minimum Price Input -->
            <div class="d-flex align-items-center flex-grow-1 border-1 rounded pr-2">
                <input type="text" placeholder="0" [(ngModel)]="minPrice" value="0"
                    class="w-100 border-0 py-2 px-2 fs-14 bg-transparent"
                    (focusout)="handleFilter({key:'min_price', value: minPrice})">
                <span class="fs-12 text-slate-400">USD</span>
            </div>
            <!-- Maximum Price Input -->
            <div class="d-flex align-items-center flex-grow-1 border-1 rounded pr-2">
                <input type="text" placeholder="150" [(ngModel)]="maxPrice" value="150"
                    class="w-100 border-0 py-2 px-2 fs-14 bg-transparent"
                    (focusout)="handleFilter({key:'max_price', value: maxPrice})">
                <span class="fs-12 text-slate-400">USD</span>
            </div>
        </div>
        <!-- Range Slider -->
        <div class="card-body p-0 mt-2 mb-2">
            <input type="range" class="fs-20 w-100" [(ngModel)]="minPrice" [min]="0" [max]="maxPrice" name="price" (change)="handleFilter({key:'min_price', value: minPrice})">
        </div>
    </div>
</div>

        </div>
    </div>
</div>