<main class="mt-16">
  <div class="container-fluid xs-px-0">
    <div class="mx-auto mt-3 xs-px-0">
      <div>
        <app-slider></app-slider>
      </div>
      <div class="permotion-banners">
        <app-promotion-slider
          [banners]="permotionBanners"
          bannerClass="body-banner"
        />
      </div>
    </div>
    <!--BILAL PRODUCTS AREA -->
    <div class="mx-auto mt-3 xs-px-15">
      <app-post-categories />
    </div>
    <div class="mx-auto xs-px-15">
      <div class="row pb-3 rounded-2 row-gap-20">
        <div class="w-100 text-center">
          <h2 class="m-0">Auction Products</h2>
          <p class="fs-14 mb-0">Hurry up! The auction is ending soon</p>
        </div>
        <div class="w-100 text-right pr-3">
          <a [routerLink]="['/post/post-category']" [queryParams]="{ name: 'auction' }" class="fw-bold text-primary">
            View All
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        @if(!auctionPosts.length){
          @for(data of [1,2,3,4,5,6,7,8];track $index){
            <div
            class="m-1 p-0 border-1 rounded-2 shimmer-card"
            >
            <app-card-shimmer/>
            </div>
            
          }
        }@else { @for (post of auctionPosts; track $index) {
        <div class="product-card">
          <app-product-card
            [postData]="post"
            postDetialUrl="auction-product-detail"
          />
        </div>
        } }
      </div>
    </div>
    <div class="mx-auto mt-3 xs-px-15">
      <div class="row py-3 rounded-2 row-gap-20">
        <div class="w-100 text-center">
          <h2 class="m-0">Feature Products</h2>
          <p class="fs-14 mb-0">
            Act fast! These featured products won't last long
          </p>
        </div>
        <div class="w-100 text-right pr-3">
          <a [routerLink]="['/post/post-category']" [queryParams]="{ name: 'featured' }" class="fw-bold text-primary">
            View All
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        @if(!featuredPosts.length){ @for(data of [1,2,3,4,5,6,7,8];track $index){
        <div
          class="m-1 p-0 border-1 rounded-2 shimmer-card"
        >
        <app-card-shimmer/>
        </div>
        } }@else { @for (post of featuredPosts.slice(0,10); track $index) {
        <div class="product-card">
          <app-product-card [postData]="post" postDetialUrl="product-detail" />
        </div>
        } }
      </div>
    </div>
    <!--BILAL END PRODUCTS AREA -->
    <div class="mt-3">
      <app-promotion-slider
        [banners]="[
          {
            banner:
              'https://images.olx.com.pk/thumbnails/493379125-800x600.webp'
          }
        ]"
        bannerClass="prom-banner-3 footer-banner"
      />
    </div>
  </div>
</main>
