.product_title {
  padding: 13px;
}
.basic-info-product {
  padding-left: 13px;
  .icons-plus-info {
    font-size: 13.28px;
    color: #767e94;
    i,
    img {
      width: 19.93px;
      height: 19.93px;
    }
  }
}
.send-message {
  border-radius: 20px;
  padding: 10px;
}
.make-offer {
  border-radius: 20px;
  padding: 10px;
  background-color: #ebeef7;
}
.userImage {
  width: 46px;
  height: 46px;
  border-radius: 57px;
}
.add-by {
  color: #767e94;
  font-size: 12px;
}
.user-name {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.93px;
}
.profile-link {
  text-decoration: none;
  color: #636a80;
}
.detail-des {
  font-size: 19.93px;
  font-weight: 19px;
  line-height: 26px;
  color: #191f33;
}
.des-in-detail {
  word-wrap: break-word;
  color: #767e94;
  font-size: 2.2vh;
}

// Modal Styles
#offerModal {
  .modal-dialog-centered {
    .modal-content {
      border-radius: 20px;

      .modal-header {
        border: none;

        .close {
          // Style for close button if needed
        }
      }

      .modal-body {
        margin-bottom: 5rem;

        .row {
          .col-9 {
            margin: 0 auto;

            .text-center {
              h3 {
                font-weight: bolder;
              }

              span {
                // Additional styles if needed
              }
            }

            .mt-4 {
              button {
                &.btn {
                  &.btn-dark {
                    width: 100%;
                    border-radius: 20px;
                    padding: 10px;

                    // Additional button style for Yes
                    &:first-child {
                      // Specific to "Yes, Place My Bid"
                    }

                    // Additional button style for Cancel
                    &:last-child {
                      margin-top: 1.5rem;
                      // Specific to "Cancel"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

