<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true">
</ngx-spinner> -->
<!-- <h2>Testing</h2> -->
<main class="mt-16 mb-5">
  <div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-xl-11 mx-auto">
        <div class="row">
          <!-- left-hand-side-for-both -->
          <div class="col-xl-8">
            <h2 class="product_title">{{ auctionProduct[0]?.title }}</h2>
            <div class="basic-info-product">
              <div class="d-flex align-items-center">
                <p class="sm-cat-text3 icons-plus-info">
                  <i class="fa fa-map-marker-alt fs-20 mr-2"></i
                  >{{ auctionProduct[0]?.location }}
                </p>
                <p class="mx-3 sm-cat-text3 icons-plus-info">
                  <i class="far fa-clock fs-20 mr-2"></i>
                  {{ auctionProduct[0]?.updated_at | date }}
                </p>
                <p class="sm-cat-text3 icons-plus-info">
                  <i class="far fa-eye fs-20 mr-2"></i>
                  {{ auctionProduct[0]?.views_count }} Viewed
                </p>
              </div>
            </div>
            <div class="">
              @if(auctionProduct[0]?.photo.length > 0){
              <app-product-carousel
                [photo]="auctionProduct[0]?.photo"
                [video]="auctionProduct[0]?.video"
              ></app-product-carousel>
              }@else {
              <app-product-carousel
                [photo]="dummy"
                [video]="auctionProduct[0]?.video"
              ></app-product-carousel>
              }
            </div>
            <!-- description-for-desktop -->
            <div class="d-none d-xl-block">
              <div class="row container">
                <div class="col-8 mt-5">
                  <h5 class="detail-des">Descriptions</h5>
                  <p class="des-in-detail">
                    {{ auctionProduct[0]?.description }}
                  </p>
                </div>
              </div>
            </div>

            <!-- right-side-for-mobile -->
            <div class="d-block d-xl-none mt-5">
              <div class="row border">
                <!-- descriptions -->
                <div class="col-xl-6 col-md-6">
                  <h2 class="detail-des">Descriptions</h2>
                  <p class="sdes-in-detail">
                    {{ this.auctionProduct[0]?.description }} Descriptions
                  </p>
                </div>

                <div class="col-xl-6 col-md-6">
                  <h4 class="right-side-title">
                    {{ auctionProduct[0]?.title }} 
                  </h4>
                  <div class="row align-items-center">
                    <div class="col-7">
                      <a
                        style="text-decoration: none; color: black"
                        [routerLink]="[
                          '/auctionUserProfile',
                          auctionProduct[0]?.user?.id
                        ]"
                      >
                        <!-- Add the text or content inside the link here -->

                        <div class="row align-items-center">
                          <div class="col-4">
                            <img
                              [src]="auctionProduct[0]?.user?.img"
                              class="w-100"
                              class="auction-profile"
                              alt=""
                              loading="lazy"
                            />
                            <!-- <img src="assets/images/profile-img1.png" class="w-100" alt=""> -->
                          </div>
                          <div class="col-8" style="font-size: 2vh">
                            <span class="auction-user-name">{{
                              auctionProduct[0]?.user?.name
                            }}</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-5" *ngIf="isVerified">
                      <img
                        src="assets/images/verify.svg"
                        alt=""
                        loading="lazy"
                      />
                      <span class="verified-img">Verified Member</span>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-11 col-md-12" style="text-align: end">
                      <span class="member-since"
                        >Member since
                        {{ auctionProduct[0]?.user?.created_at | date }}</span
                      >
                    </div>
                  </div>
                  <div
                    class="row mt-5 justify-content-center"
                    *ngIf="liveAuction?.length && liveAuction.length > 0"
                  >
                    <div
                      class="col-11 col-md-12"
                      style="
                        background-color: #f3f4f5;
                        padding: 2vh;
                        border-radius: 2vh;
                      "
                    >
                      <div class="row">
                        <div
                          class="col-6"
                          style="
                            border-right: 1px solid #787878;
                            padding-right: 1vh;
                          "
                        >
                          <h6 class="starting-price">Starting price</h6>
                          <span class="auction-price">{{
                            auctionProduct[0]?.auction_price
                          }}</span>
                          <div class="row mt-3">
                            <div class="col-6">
                              <!-- live-user-img-main -->
                              <div class="live-user-img-main">
                                <!-- Display each image in a single row -->
                                <div
                                  *ngFor="let data of profileImg.slice(1,6)"
                                  class="d-flex me-2 mb-2"
                                >
                                  <img
                                    [src]="data.img"
                                    alt=""
                                    class="live-user-img"
                                    loading="lazy"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div
                                class="h-100"
                                style="
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                "
                              >
                                <div class="live-user-count">
                                  <span class="user-length-count">
                                    +{{ liveAuction.length }}
                                  </span>
                                </div>
                                <span class="are-live">are live</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <h6 class="starting-price">Current Bid Price</h6>
                          <span class="max-price">AED {{ maxPrice }}</span>
                          <div class="mt-3">
                            <span
                              class="are-live"
                              *ngIf="
                                calculateRemaningTime &&
                                calculateRemaningTime != ''
                              "
                              >{{ calculateRemaningTime || "N/A" }}</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="row mt-3"
                    *ngIf="liveAuction.length && liveAuction.length > 0"
                  >
                    <div class="col-6">
                      <img
                        src="assets/images/liveDot.svg"
                        alt=""
                        loading="lazy"
                      />
                      <span class="live-auction">Live Auction</span>
                    </div>
                    <div class="col-6" style="text-align: end">
                      <span class="bids-made"
                        >{{ liveAuction.length }} Bids made</span
                      >
                    </div>
                  </div>
                  <!-- bids-data -->
                  <div
                    class="sidebar"
                    *ngIf="liveAuction.length && liveAuction.length > 0"
                  >
                    <div class="sidebar-content biders">
                      <div
                        class="row mt-3 align-items-center justify-content-between mx-0"
                        *ngFor="let data of liveAuction"
                      >
                        <div class="col-8">
                          <div class="row align-items-center">
                            <div class="col-2">
                              <img
                                loading="lazy"
                                [src]="
                                  data?.user?.img
                                    ? data?.user?.img
                                    : '/assets/images/profile-placeholder.png'
                                "
                                alt=""
                                class="bider-users"
                              />
                            </div>
                            <div class="col-9 mt-2">
                              <h6 class="m-0 p-0 bider-user">
                                {{ data?.user?.name }}"
                              </h6>
                              <span class="bider-user-time">{{
                                data?.created_at | date
                              }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 bider-user-price">
                          <span>{{ data?.price }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- allowedToBid && IsBit -->
                  <div *ngIf="true" class="row mt-3 justify-content-between">
                    <div class="col-12 col-xl-6 d-flex mb-2 md-xl-0 justify-content-between">
                      <div class="col-2 sm-p-0">
                        <button
                          id="placeBid"
                          name="placeBid"
                          class="btn btn-outline-dark placeBids"
                          (click)="bid26()"
                        >
                          26k
                        </button>
                      </div>
                      <div class="col-2 sm-p-0">
                        <button
                          id="placeBid"
                          name="placeBid"
                          class="btn btn-outline-dark placeBids"
                          (click)="bid28()"
                        >
                          28k
                        </button>
                      </div>
                      <div class="col-2 sm-p-0">
                        <button
                          id="placeBid"
                          name="placeBid"
                          class="btn btn-outline-dark placeBids"
                          (click)="bid32()"
                        >
                          32k
                        </button>
                      </div>
                      <div class="col-2 sm-p-0">
                        <button
                          id="placeBid"
                          name="placeBid"
                          class="btn btn-outline-dark placeBids"
                          (click)="bid35()"
                        >
                          35k
                        </button>
                      </div>
                    </div>

                    <div class="col-12 col-xl-5">
                      <button
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-dark w-100 custom-bid sm-p-2"
                        (click)="showInput()"
                      >
                        use custom bid
                      </button>
                    </div>

                  </div>
                  <!-- btn -->
                  <div *ngIf="true" class="row mt-3">
                    <div class="col-12">
                      <button
                        (click)="openModal()"
                        [disabled]="price == null || price == ''"
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-outline-dark w-100 bid-your-place"
                      >
                        {{ price ? price : "Place Bid for AED " }}
                      </button>
                      <input
                        id="placeBid"
                        name="placeBid"
                        [(ngModel)]="price"
                        *ngIf="showBid"
                        type="text"
                        placeholder="AED"
                        class="form-control w-100 p-4 mt-3 text-center"
                        style="border-radius: 16px"
                      />
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- desktop-right-hand-side-section -->
          <div class="col-md-4 d-none d-xl-block" style="margin-top: 75px">
            <h4 class="right-side-title" style="">
              {{ auctionProduct[0]?.title }}
            </h4>
            <div class="row align-items-center mt-3">
              <div class="col-7">
                <a
                  style="text-decoration: none; color: black"
                  routerLink="/auctionUserProfile/{{
                    auctionProduct[0]?.user?.id
                  }}"
                >
                  <div class="row align-items-center">
                    <div class="col-2 mr-3">
                      <img
                        loading="lazy"
                        [src]="
                          auctionProduct[0]?.user?.img
                            ? auctionProduct[0]?.user?.img
                            : '/assets/images/profile-placeholder.png'
                        "
                        class="auction-profile"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                    <div class="col-8">
                      <span class="auction-user-name"
                        >{{ auctionProduct[0]?.user?.name }}</span
                      >
                    </div>
                  </div>
                </a>
              </div>
              <!-- this.isVerified *ngIf="" -->
              <div class="col-5" style="text-align: end">
                <img
                  src="assets/images/verify.svg"
                  alt=""
                  class="verified-img"
                  loading="lazy"
                />
                <span class="verified-member">Verified Member</span>
              </div>
              <div class="col-md-12" style="text-align: end">
                <span class="member-since"
                  >Member since
                  {{ auctionProduct[0]?.user?.created_at | date }}</span
                >
              </div>
            </div>
            <div
              class="row mt-5 justify-content-center"
              *ngIf="liveAuction?.length && liveAuction.length > 0"
            >
              <div
                class="col-11 col-md-12"
                style="
                  background-color: #f3f4f5;
                  padding: 2vh;
                  border-radius: 2vh;
                "
              >
                <div class="row">
                  <div
                    class="col-6"
                    style="border-right: 1px solid #787878; padding-right: 1vh"
                  >
                    <h6 class="starting-price">Starting price</h6>
                    <span class="auction-price">{{
                      auctionProduct[0]?.auction_price || "N/A"
                    }}</span>
                    <div class="row mt-2">
                      <div class="col-6">
                        <div class="live-user-img-main">
                          <!-- Display each image in a single row -->
                          <div
                            *ngFor="
                              let data of profileImg.slice(1, 6);
                              let i = index
                            "
                            class="d-flex me-2 mb-2"
                          >
                            <img
                              [src]="data?.img"
                              alt=""
                              class="live-user-img"
                              loading="lazy"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div
                          class="h-100"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          "
                        >
                          <div class="live-user-count">
                            <span class="user-length-count">
                              +{{ liveAuction.length }}
                            </span>
                          </div>
                          <span class="are-live">are live</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="starting-price">Current Bid Price</h6>
                    <span class="max-price">AED {{ maxPrice }}</span>
                    <div class="mt-3">
                      <span
                        class="are-live"
                        *ngIf="
                          calculateRemaningTime && calculateRemaningTime != ''
                        "
                        >{{ calculateRemaningTime || "N/A" }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- live-action bids-mads -->
            <div
              class="row mt-3"
              *ngIf="liveAuction.length && liveAuction.length > 0"
            >
              <div class="col-6">
                <img src="assets/images/liveDot.svg" alt="" loading="lazy" />
                <span class="live-auction">Live Auction</span>
              </div>
              <div class="col-6" style="text-align: end">
                <span class="bids-made"
                  >{{ liveAuction.length }} Bids made</span
                >
              </div>
            </div>
            <!-- bids-data -->
            <div
              class="sidebar"
              *ngIf="liveAuction.length && liveAuction.length > 0"
            >
              <div class="sidebar-content biders">
                <div
                  class="row mt-3 align-items-center justify-content-between mx-0"
                  *ngFor="let data of liveAuction"
                >
                  <div class="col-8">
                    <div class="row align-items-center">
                      <div class="col-2">
                        <img
                          loading="lazy"
                          [src]="
                            data?.user?.img
                              ? data?.user?.img
                              : '/assets/images/profile-placeholder.png'
                          "
                          alt=""
                          class="bider-users"
                        />
                      </div>
                      <div class="col-9 mt-2">
                        <h6 class="m-0 p-0 bider-user">
                          {{ data?.user?.name }}"
                        </h6>
                        <span class="bider-user-time">{{
                          data?.created_at | date
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 bider-user-price">
                    <span class="sm-cat-text">{{ data?.price }}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- allowedToBid && IsBit -->
            <div *ngIf="true" class="row mt-3 justify-content-between">
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark placeBids"
                  (click)="bid26()"
                >
                  26k
                </button>
              </div>
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark placeBids"
                  (click)="bid28()"
                >
                  28k
                </button>
              </div>
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark placeBids"
                  (click)="bid32()"
                >
                  32k
                </button>
              </div>
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark placeBids"
                  (click)="bid35()"
                >
                  35k
                </button>
              </div>
              <div class="col-5">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-dark w-100 custom-bid sm-p-2"
                  (click)="showInput()"
                >
                  use custom bid
                </button>
              </div>
            </div>
            <!-- allowedToBid && IsBit -->
            <!-- btn -->
            <div *ngIf="true" class="row mt-3">
              <div class="col-12">
                <button
                  (click)="openModal()"
                  [disabled]="price == null || price == ''"
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark w-100 bid-your-place"
                >
                  {{ price ? price : "Place Bid for AED " }}
                </button>
                <input
                  id="placeBid"
                  name="placeBid"
                  [(ngModel)]="price"
                  *ngIf="showBid"
                  type="text"
                  placeholder="AED"
                  class="form-control w-100 p-4 mt-3 text-center"
                  style="border-radius: 16px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal-for-bid -->
  <div
    class="modal fade"
    id="offerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="offerModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="close"
            (click)="closeModal()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body mb-5">
          <div class="row">
            <div class="col-9 mx-auto">
              <div class="text-center">
                <h3 class="">Confirm Bid</h3>
                <span
                  >You have placed a bid for AED {{ price }}. Should we place
                  this as your Bid?</span
                >
              </div>
              <div class="mt-4">
                <button class="btn btn-dark w-100" (click)="placeBid()">
                  Yes, Place My Bid
                </button>
                <button class="btn btn-dark w-100 mt-3" (click)="closeModal()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
