<!-- <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true">
</ngx-spinner> -->
<h2>Testing</h2>
<main class="mt-16">
  <div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-xl-11 mx-auto">
        <div class="row border">
          <!-- left-hand-side-for-both -->
          <div class="col-xl-8">
            <h2 class="product_title" >{{ auctionProduct[0]?.title }}</h2>
            <div class="basic-info-product">
              <div class="d-flex align-items-center">
                <p class="sm-cat-text3 icons-plus-info">
                  <i class="fa fa-map-marker-alt fs-20 mr-2"></i
                  >{{ auctionProduct[0]?.location }}
                </p>
                <p class="mx-3 sm-cat-text3 icons-plus-info">
                  <i class="far fa-clock fs-20 mr-2"></i>
                  {{ auctionProduct[0]?.updated_at | date }}
                </p>
                <p class="sm-cat-text3 icons-plus-info">
                  <i class="far fa-eye fs-20 mr-2"></i>
                  {{ auctionProduct[0]?.views_count }} Viewed
                </p>
              </div>
            </div>
            @if(auctionProduct[0]?.photo.length > 0){
            <app-product-carousel
              [photo]="auctionProduct[0]?.photo"
              [video]="auctionProduct[0]?.video"
            ></app-product-carousel>
            }
            <!-- right-side-for-mobile -->
            <div class="d-block d-xl-none mt-5">
              <div class="row">
                <div class="col-xl-6 col-md-6">
                  <h2 class="sm-cat-text5">Descriptions</h2>
                  <p class="sm-cat-text4">
                    {{ this.auctionProduct[0]?.description }}
                  </p>
                </div>
                <div class="col-xl-6 col-md-6 d-block d-xl-none">
                  <h4 class="sm-cat-text4">{{ auctionProduct[0]?.title }}</h4>
                  <div class="row align-items-center">
                    <div class="col-7">
                      <a
                        style="text-decoration: none; color: black"
                        [routerLink]="[
                          '/auctionUserProfile',
                          auctionProduct[0]?.user?.id
                        ]"
                      >
                        <!-- Add the text or content inside the link here -->

                        <div class="row align-items-center">
                          <div class="col-4">
                            <img
                              [src]="auctionProduct[0]?.user?.img"
                              class="w-100"
                              style="height: 42px; border-radius: 10px"
                              alt=""
                              loading="lazy"
                            />
                            <!-- <img src="assets/images/profile-img1.png" class="w-100" alt=""> -->
                          </div>
                          <div class="col-8" style="font-size: 2vh">
                            <span style="font-size: 1.5vh">{{
                              auctionProduct[0]?.user?.name
                            }}</span>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-5" *ngIf="isVerified">
                      <img
                        src="assets/images/verify.svg"
                        alt=""
                        loading="lazy"
                      />
                      <span style="font-size: 1.2vh">Verified Member</span>
                    </div>
                    <!-- <div class="col-11 col-md-12" style="text-align: end;">
                                          <span style="font-size: 1.2vh;">Member since {{auctionProduct[0].user.created_at|date}}</span>
                                      </div> -->
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-11 col-md-12" style="text-align: end">
                      <span style="font-size: 10px" class="sm-cat-text3"
                        >Member since
                        {{ auctionProduct[0]?.user?.created_at | date }}</span
                      >
                    </div>
                  </div>
                  <div
                    class="row mt-5 justify-content-center"
                    *ngIf="liveAuction?.length && liveAuction.length > 0"
                  >
                    <div
                      class="col-11 col-md-12"
                      style="
                        background-color: #f3f4f5;
                        padding: 2vh;
                        border-radius: 2vh;
                      "
                    >
                      <div class="row">
                        <div
                          class="col-6"
                          style="
                            border-right: 1px solid #787878;
                            padding-right: 1vh;
                          "
                        >
                          <h6 class="sm-cat-text4">Starting price</h6>
                          <span class="sm-cat-text3">{{
                            auctionProduct[0]?.auction_price
                          }}</span>
                          <div class="row mt-3">
                            <div class="col-6">
                              <div
                                class="d-flex flex-wrap"
                                style="width: 117px; overflow: hidden"
                              >
                                <!-- Display each image in a single row -->
                                <div
                                  *ngFor="let data of profileImg"
                                  class="d-flex me-2 mb-2"
                                >
                                  <img
                                    [src]="data.img"
                                    alt=""
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      border-radius: 50%;
                                    "
                                    loading="lazy"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="d-flex justify-content-center h-100">
                                <div
                                  class="d-flex justify-content-center align-items-center me-2"
                                  style="
                                    border: 1px solid black;
                                    border-radius: 50%;
                                    width: 5vh;
                                    height: 5vh;
                                  "
                                >
                                  <span
                                    class="sm-cat-text3"
                                    style="
                                      font-size: 1.8vh;
                                      margin: 0;
                                      padding: 0;
                                    "
                                  >
                                    +24
                                  </span>
                                </div>
                                <span
                                  class="sm-cat-text3"
                                  style="
                                    font-size: 2vh;
                                    padding: 4px 0px 0px 5px;
                                  "
                                  >are live</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <h6 class="sm-cat-text4">Current Bid Price</h6>
                          <span class="sm-cat-text3">AED </span
                          ><span class="sm-cat-text3">{{ maxPrice }}</span>
                          <div class="mt-3">
                            <span
                              class="sm-cat-text3"
                              *ngIf="
                                calculateRemaningTime &&
                                calculateRemaningTime != ''
                              "
                              >{{ calculateRemaningTime }}</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="row mt-5"
                    *ngIf="liveAuction?.length && liveAuction.length > 0"
                  >
                    <div class="col-6">
                      <img
                        src="assets/images/liveDot.svg"
                        alt=""
                        loading="lazy"
                      />
                      <span style="font-weight: bold">Live Auction</span>
                    </div>
                    <div class="col-6" style="text-align: end">
                      <span class="sm-cat-text3"
                        >{{ liveAuction.length }} Bids made</span
                      >
                    </div>
                  </div>
                  <div
                    class="sidebar"
                    *ngIf="liveAuction?.length && liveAuction.length > 0"
                  >
                    <div class="sidebar-content">
                      <div
                        class="row mt-3 align-items-center justify-content-between"
                        *ngFor="let data of liveAuction"
                      >
                        <div class="col-9">
                          <div class="row align-items-center">
                            <div class="col-3">
                              <img
                                [src]="data?.user.img"
                                class="w-100"
                                alt=""
                                loading="lazy"
                              />
                            </div>
                            <div class="col-9">
                              <h6 class="sm-cat-text4" class="m-0 p-0">
                                {{ data?.user.name }}"
                              </h6>
                              <span class="sm-cat-text">{{
                                data?.created_at | date
                              }}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-2" style="text-align: end">
                          <span class="sm-cat-text">{{ data?.price }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="allowedToBid && IsBit"
                    class="row mt-3 justify-content-between"
                  >
                    <div class="col-1">
                      <button
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-outline-dark sm-cat-text"
                        style="border-radius: 3vh; font-size: 1vh"
                        (click)="bid26()"
                      >
                        26k
                      </button>
                    </div>
                    <div class="col-1">
                      <button
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-outline-dark sm-cat-text3"
                        style="border-radius: 3vh; font-size: 1vh"
                        (click)="bid28()"
                      >
                        28k
                      </button>
                    </div>
                    <div class="col-1">
                      <button
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-outline-dark sm-cat-text3"
                        style="border-radius: 3vh; font-size: 1vh"
                        (click)="bid32()"
                      >
                        32k
                      </button>
                    </div>
                    <div class="col-1">
                      <button
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-outline-dark sm-cat-text3"
                        style="border-radius: 3vh; font-size: 1vh"
                        (click)="bid35()"
                      >
                        35k
                      </button>
                    </div>
                    <div class="col-5">
                      <button
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-dark w-100 sm-cat-text3 sm-p-2"
                        (click)="showInput()"
                        style="border-radius: 3vh; font-size: 1vh; padding: 1vh"
                      >
                        use custom bid
                      </button>
                    </div>
                  </div>
                  <div *ngIf="allowedToBid && IsBit" class="row mt-3">
                    <div class="col-12">
                      <button
                        (click)="openModal()"
                        [disabled]="price == null || price == ''"
                        id="placeBid"
                        name="placeBid"
                        class="btn btn-dark w-100 p-3 sm-cat-text3"
                        style="border-radius: 4vh"
                      >
                        Place Bid for AED{{ price }}
                      </button>
                      <input
                        id="placeBid"
                        name="placeBid"
                        [(ngModel)]="price"
                        *ngIf="showBid"
                        type="text"
                        placeholder="AED "
                        class="form-control w-100 p-4 mt-3 text-center"
                        style="border-radius: 4vh"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- desktop-right-hand-side-section -->
          <div class="col-md-4 mt-5 d-none d-xl-block">
            <h4
              style="
                font-size: 24px;
                line-height: 31px;
                font-weight: 600;
                font-family: poppins;
                color: #001b2e;
                margin: 0;
              "
            >
              {{ auctionProduct[0]?.title }} title
            </h4>
            <div class="row align-items-center">
              <div class="col-7">
                <a
                  style="text-decoration: none; color: black"
                  routerLink="/auctionUserProfile/{{
                    auctionProduct[0]?.user?.id
                  }}"
                >
                  <div class="row align-items-center">
                    <div class="col-2 mr-3">
                      <img
                        loading="lazy"
                        [src]="
                          auctionProduct[0]?.user?.img
                            ? auctionProduct[0]?.user?.img
                            : '/assets/images/profile-placeholder.png'
                        "
                        style="height: 42px; border-radius: 10px"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                    <div class="col-8" style="font-size: 2vh">
                      <span
                        style="
                          font-size: 12px;
                          line-height: 18px;
                          font-weight: 600;
                          font-family: poppins;
                          color: #1b2028;
                          margin: 0;
                        "
                        >{{ auctionProduct[0]?.user?.name }} Name</span
                      >
                    </div>
                  </div>
                </a>
              </div>
              <!-- this.isVerified *ngIf="" -->
              <div class="col-5" style="text-align: end">
                <img
                  src="assets/images/verify.svg"
                  alt=""
                  style="width: 24px; height: 24px"
                  loading="lazy"
                />
                <span
                  style="
                    font-size: 10px;
                    line-height: 15px;
                    font-weight: 500;
                    font-family: poppins;
                    color: #1b2028;
                    margin: 0;
                  "
                  >Verified Member</span
                >
              </div>
              <div class="col-md-12" style="text-align: end">
                <span
                  style="
                    font-size: 10px;
                    line-height: 15px;
                    font-weight: 500;
                    font-family: poppins;
                    color: #878787;
                  "
                  class="sm-cat-text3"
                  >Member since
                  {{ auctionProduct[0]?.user?.created_at | date }}</span
                >
              </div>
            </div>
            <!-- <div class="row justify-content-center">
                          <div class="col-11 col-md-12" style="text-align: end;">
                              <span style="font-size: 10px;" class="sm-cat-text3">Member since {{auctionProduct[0].user.created_at|date}}</span>
                          </div>
                      </div> -->
            <!-- how-many-lives -->
            <div
              class="row mt-5 justify-content-center"
              *ngIf="liveAuction?.length && liveAuction.length > 0"
            >
              <div
                class="col-11 col-md-12"
                style="
                  background-color: #f3f4f5;
                  padding: 2vh;
                  border-radius: 2vh;
                "
              >
                <div class="row">
                  <div
                    class="col-6"
                    style="border-right: 1px solid #787878; padding-right: 1vh"
                  >
                    <h6
                      style="
                        font-size: 14px;
                        line-height: 12px;
                        font-weight: 700;
                        font-family: poppins;
                        color: #001b2e;
                        margin: 0;
                      "
                    >
                      Starting price
                    </h6>
                    <span
                      style="
                        font-size: 12px;
                        line-height: 10px;
                        font-weight: 400;
                        font-family: poppins;
                        color: #001b2e;
                      "
                      >{{ auctionProduct[0]?.auction_price || "N/A" }}</span
                    >
                    <div class="row mt-3">
                      <div class="col-6">
                        <div style="display: flex;gap: 3px;align-items: center;margin-top: 4px;"
                        >
                          <!-- Display each image in a single row -->
                          <div
                            *ngFor="
                              let data of profileImg.slice(1, 6);
                              let i = index
                            "
                            class="d-flex me-2 mb-2"
                          >
                            <img
                              [src]="data?.img"
                              alt=""
                              style="
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                              "
                              loading="lazy"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div
                          class="h-100"
                          style="display: flex;justify-content: center;align-items: center;"
                        >
                          <div
                            style="
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              border: 1px solid black;
                              border-radius: 50%;
                              width: 24px;
                              height: 24px;
                            "
                          >
                            <span
                              style="
                                font-size: 8px;
                                line-height: 12px;
                                font-weight: 400;
                                font-family: poppins;
                                color: #000000;
                              "
                            >
                              +{{ liveAuction.length }}
                            </span>
                          </div>
                          <span
                            class="sm-cat-text3"
                            style="
                              font-size: 10px;
                              line-height: 15px;
                              font-weight: 400;
                              font-family: poppins;
                              color: #14181b;
                              margin-left: 5px;
                            "
                            >are live</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6
                      style="
                        font-size: 14px;
                        line-height: 12px;
                        font-weight: 700;
                        font-family: poppins;
                        color: #001b2e;
                        margin: 0;
                      "
                    >
                      Current Bid Price
                    </h6>
                    <span
                      style="
                        font-size: 12px;
                        line-height: 10px;
                        font-weight: 400;
                        font-family: poppins;
                        color: #001b2e;
                      "
                      >AED {{ maxPrice }}</span
                    >
                    <div class="mt-3">
                      <span
                        style="
                          font-size: 12px;
                          line-height: 10px;
                          font-weight: 400;
                          font-family: poppins;
                          color: #001b2e;
                        "
                        *ngIf="
                          calculateRemaningTime && calculateRemaningTime != ''
                        "
                        >{{ calculateRemaningTime || "N/A" }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- live-action bids-mads -->
            <div
              class="row mt-5"
              *ngIf="liveAuction.length && liveAuction.length > 0"
            >
              <div class="col-6">
                <img src="assets/images/liveDot.svg" alt="" loading="lazy" />
                <span
                  style="
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 600;
                    font-family: poppins;
                    margin-left: 5px;
                  "
                  >Live Auction</span
                >
              </div>
              <div class="col-6" style="text-align: end">
                <span
                  style="
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    font-family: poppins;
                    margin-left: 5px;
                  "
                  >{{ liveAuction.length }} Bids made</span
                >
              </div>
            </div>
            <!-- bids-data -->
            <div
              class="sidebar"
              *ngIf="liveAuction.length && liveAuction.length > 0"
            >
              <div
                class="sidebar-content"
                style="max-height: 400px; overflow-y: auto"
              >
                <div
                  class="row mt-3 align-items-center justify-content-between mx-0"
                  *ngFor="let data of liveAuction"
                >
                  <div class="col-8">
                    <div class="row align-items-center">
                      <div class="col-2">
                        <img
                          loading="lazy"
                          [src]="
                            data?.user?.img
                              ? data?.user?.img
                              : '/assets/images/profile-placeholder.png'
                          "
                          alt=""
                          style="width: 32px; height: 32px; border-radius: 50%"
                        />
                      </div>
                      <div class="col-9 mt-2">
                        <h6
                          style="
                            font-size: 14px;
                            line-height: 21px;
                            font-weight: 600;
                            font-family: poppins;
                          "
                          class="m-0 p-0"
                        >
                          {{ data?.user?.name }}"
                        </h6>
                        <span
                          style="
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            font-family: poppins;
                            color: #878787;
                          "
                          >{{ data?.created_at | date }}</span
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-2"
                    style="
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 18px;
                      font-family: poppins;
                      color: #001b2e;
                      text-align: end;
                    "
                  >
                    <span class="sm-cat-text">{{ data?.price }}</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- allowedToBid && IsBit -->
            <div *ngIf="true" class="row mt-3 justify-content-between">
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark sm-cat-text"
                  style="
                  font-size: 12px;
                  line-height: 18px;
                  font-weight: 400;
                  font-family: poppins;
                  color: #001b2e;
                  margin: 0;
                  border-radius: 16px;
                "
                  (click)="bid26()"
                >
                  26k
                </button>
              </div>
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark sm-cat-text3"
                  style="border-radius: 3vh; font-size: 1.6vh"
                  (click)="bid28()"
                >
                  28k
                </button>
              </div>
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark sm-cat-text3"
                  style="border-radius: 3vh; font-size: 1.6vh"
                  (click)="bid32()"
                >
                  32k
                </button>
              </div>
              <div class="col-1 sm-p-0">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark sm-cat-text3"
                  style="border-radius: 3vh; font-size: 1.6vh"
                  (click)="bid35()"
                >
                  35k
                </button>
              </div>
              <div class="col-5">
                <button
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-dark w-100 sm-cat-text3 sm-p-2"
                  (click)="showInput()"
                  style="
                  font-size: 12px;
                  line-height: 18px;
                  font-weight: 400;
                  font-family: poppins;
                  color: #F2F2F2;
                  margin: 0;
                  border-radius: 16px;
                "
                >
                  use custom bid
                </button>
              </div>
            </div>
            <!-- allowedToBid && IsBit -->
            <!-- btn -->
            <div *ngIf="true" class="row mt-3">
              <div class="col-12">
                <button
                  (click)="openModal()"
                  [disabled]="price == null || price == ''"
                  id="placeBid"
                  name="placeBid"
                  class="btn btn-outline-dark w-100 p-3 sm-cat-text3"
                  style="font-size: 24px;
                  line-height: 36px;
                  font-weight: 600;
                  font-family: poppins;
                  color: #292D32;
                  margin: 0;
                  border-radius: 16px;"
                >
                  {{ price ? price : 'Place Bid for AED ' }}
                </button>
                <input
                  id="placeBid"
                  name="placeBid"
                  [(ngModel)]="price"
                  *ngIf="showBid"
                  type="text"
                  placeholder="AED"
                  class="form-control w-100 p-4 mt-3 text-center"
                  style="border-radius: 16px;"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- description-for-desktop -->
        <div class="d-none d-xl-block">
          <div class="row container">
            <div class="col-8 mt-5">
              <h5 class="detail-des">Descriptions</h5>
              <p class="des-in-detail">{{ auctionProduct[0]?.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- modal-for-bid -->
  <div
    class="modal fade"
    id="offerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="offerModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button
            type="button"
            class="close"
            (click)="closeModal()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body mb-5">
          <div class="row">
            <div class="col-9 mx-auto">
              <div class="text-center">
                <h3 class="">Confirm Bid</h3>
                <span
                  >You have placed a bid for AED {{ price }}. Should we place
                  this as your Bid?</span
                >
              </div>
              <div class="mt-4">
                <button class="btn btn-dark w-100" (click)="placeBid()">
                  Yes, Place My Bid
                </button>
                <button class="btn btn-dark w-100 mt-3" (click)="closeModal()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
