<div class="row mt-5">
  <div class="col-6">
    <label>First Name</label>
    <input type="text" placeholder="First Name" class="form-control"
      style="border-radius: 13px;" formControlName="firstName">
    <div *ngIf="registerForm.get('firstName')?.invalid && (registerForm.get('firstName')?.touched || registerForm.get('firstName')?.dirty)" class="text-danger">
      First Name is required.
    </div>
  </div>
  <div class="col-6">
    <label>Last Name</label>
    <input type="text" placeholder="Last Name" class="form-control"
      style="border-radius: 13px;" formControlName="lastName">
    <div *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.touched || registerForm.get('lastName')?.dirty)" class="text-danger">
      Last Name is required.
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <label>Username</label>
    <input type="text" placeholder="Username" class="form-control"
      style="border-radius: 13px;" formControlName="username">
    <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)" class="text-danger">
      Username is required.
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <label>Email/Phone</label>
    <input type="text" placeholder="name@example.com" class="form-control"
      style="border-radius: 13px;" formControlName="emailOrPhone">
    <div *ngIf="registerForm.get('emailOrPhone')?.invalid && (registerForm.get('emailOrPhone')?.touched || registerForm.get('emailOrPhone')?.dirty)" class="text-danger">
      Please enter a valid email or phone number.
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <label>Phone</label>
    <input type="text" placeholder="Phone" class="form-control"
      style="border-radius: 13px;" formControlName="phone">
    <div *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)" class="text-danger">
      Phone is required.
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <label>Password</label>
    <input type="password" placeholder="Your Password" class="form-control"
      style="border-radius: 13px;" formControlName="password">
    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)" class="text-danger">
      Password is required.
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <label>Confirm Password</label>
    <input type="password" placeholder="Confirm password" class="form-control"
      style="border-radius: 13px;" formControlName="confirmPassword">
    <div *ngIf="registerForm.hasError('passwordMismatch') && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)" class="text-danger">
      Passwords must match.
    </div>
    <div><span class="text-danger mt-2">{{errorMessage}}</span></div>
    <button class="btn btn-dark w-100 mt-3" style="border-radius: 20px; padding: 10px;"
      [disabled]="registerForm.invalid" (click)="confirmRegistration()">Confirm</button>
  </div>
</div>
