<!-- <app-header></app-header> -->
<div *ngIf="loading" class="loader-overlay">
    <div class="loader"></div>
</div>

<!-- BILAL -->
<div class="container selling-container" *ngIf="!loading">
    <div class="row justify-content-center">
        <div class="mt-5 w-100">
            <h3 class="text-dark-800 text-center fs-32">Purchases & Sales</h3>
            <hr>
        </div>
        <div class="w-100 d-flex justify-content-center mt-2 mb-2">
            <app-tabs class="w-100 md-px-0 app-tabs" [tabData]="tabs"
                ulClass="d-flex selling-tab-container rounded-pill overflow-hidden" [activeTab]="activeTab"
                tabClass="selling-tab fs-14 rounded-0" />
        </div>
        @if (!apiData[activeTab].length) {
        <div class="w-100 selling-notfound notfound d-flex justify-content-center {{notFoundData[activeTab].tabName}}">
            <app-selling-notfound image="{{notFoundData[activeTab].image}}"
                heading="{{notFoundData[activeTab].heading}}" text="{{notFoundData[activeTab].text}}">
                @if (activeTab=='selling') {
                <div>
                    <p class="fs-19 text-dark-400">Download our app</p>
                    <div class="d-flex align-items-center justify-content-center app-icon">
                        <a routerLink="#"
                            class="d-flex align-items-center justify-content-center text-decoration-none app-box mr-3">
                            <img src="/assets\images\google-play-icon.png" alt="Play store" loading="lazy" width="24"
                                class="object-fit-contain">
                            <div class="ml-2 icon-text">
                                <p class="mb-0">Get it now</p>
                                <strong>Google Play</strong>
                            </div>
                        </a>
                        <a routerLink="#"
                            class="d-flex align-items-center justify-content-center text-decoration-none app-box">
                            <img src="/assets\images\apple-store-icon.png" alt="Apple store" loading="lazy" width="24"
                                class="object-fit-contain">
                            <div class="ml-2 icon-text">
                                <p class="mb-0">Get it now</p>
                                <strong>App Store</strong>
                            </div>
                        </a>
                    </div>
                </div>
                }
            </app-selling-notfound>
        </div>
        }
        @else {
        <section class="w-100 post-section">
            @for (item of apiData[activeTab]; track $index) {
            <a [routerLink]="activeTab === 'selling' ? '/selling-detail/' + item.id : null"
                class="text-decoration-none d-block pl-4" [ngClass]="activeTab !== 'selling' ? 'cursor-default' : ''">
                <app-card [data]="{title:item.title,image:item.photo[0].src}">
                    <div slot="users" class="users d-flex justify-content-between align-items-center"
                        *ngIf="item?.views_count">
                        <div class="d-flex">
                            <img *ngFor="let user of item.users ; let i=index" [src]="user?.image" alt="images"
                                width="30" height="30" class="rounded-pill" [ngStyle]="{'z-index': -i}">
                        </div>

                    </div>
                    <div slot="extra" class="d-flex fs-12 align-items-center pt-1 footer text-dark-450">
                        <button type="button" class="btn p-0 fs-12">Sell faster</button>
                        <button type="button" class="btn p-0 ml-3 fs-12">Mark as sold</button>
                        <span class="text-gray-400 fs-12 views">{{item?.views_count??0}} views</span>
                        <!-- <span>{{item?.sold}}</span>
                        <span>{{item?.status}}</span> -->
                    </div>
                </app-card>
                <div class="d-flex justify-content-center my-2 line-img">
                    <img src="\assets\images\line-img.png" alt="line" width="350">
                </div>
            </a>
            }
        </section>
        }
    </div>
    <hr class="mt-5">
</div>