.sidebar-content {
    padding: 20px;
    width: 99%;
    }

 .profile-sidebar,
 .add-post{
    height: 130vh;
    overflow-y: auto;
 }   
 .add-post{
   overflow-x: hidden;
 }
 .add-post-title {
   margin-top: 20vh;
 }
 ::-webkit-scrollbar {
   width: 8px;
 }
 
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #88888884;
   border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }


    .bg-danger-blue{
      background-color: red;
    }
    .bg-success{
      background-color: blue !important;
    }

