<div class="container-fluid">


  <div class="col-xl-11 mx-auto mt-3 ">
    <div class="row">
      <div class="col-xl-4">
        <div class="row ">
          <div class="col-10 mx-auto">
              <div class="row">
                  <div class="col-9 mx-auto text-center">
                      <div class="upload-container">
                          <div style="margin-bottom:-45px;" class="image-container text-center">
                              <img style="width:100px; height:100px; border-radius:10px"
                                  id="uploaded-image" [src]="imageUrl || 'assets/placeholder-image.png'"
                                  alt="Uploaded Image">
                          </div>
                          <div>
                              <img src="../../../assets/images/updateImage.png" id="imageSrc" name="imageSrc"
                                  alt="Profile" class="rounded-circle imageStyle"
                                  (click)="triggerFileInput()">
                              <input type="file" id="image-upload" accept="image/*"
                                  (change)="onImageUpload($event)" style="display: none;">
                          </div>
                      </div>
                      <div class="row" style="margin-top:-27px">
                          <div class="col-12 text-center">
                              <h6>{{currentUserProfile.name}}</h6>
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="flex-grow-1 text-center">
                                      <app-user-star-rating
                                      [rating]="currentUserProfile.review_percentage"
                                                              [allowRating]="this.allowRating"></app-user-star-rating>
                                  </div>
                                  <div style="margin-left: auto;">
                                      <p class="mb-0">{{ currentUserProfile.review_percentage }}</p>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <div class="d-flex align-items-center text-center justify-content-center mt-3 text-center">
                  <div style="margin-right:20px" class="pointer" style="margin: 0 10px;" >
                      <img [class.bg-success]="currentUserProfile.email_verified_at != null"
                      [class.bg-danger-blue]="currentUserProfile.email_verified_at == null" class=" rounded-circle p-2" src="../../../assets/images/E-sms.svg"
                          style="height: 15%;" alt="">
                      <h6 style="font-size: 10px;" class="p-0 m-0">Email </h6>
                      <h6 style="font-size: 10px;" class="p-0 m-0">{{ currentUserProfile.email_verified_at != null ? 'Verified' : 'Not Verified' }}</h6>
                  </div>
                  <div  style="margin: 0 10px;">
                      <img [class.bg-success]="currentUserProfile.image_verified_at != null"
                      [class.bg-danger-blue]="currentUserProfile.image_verified_at == null" class=" rounded-circle p-2" src="../../../assets/images/gallery.svg"
                          style="height: 15%;" alt="">
                      <h6 style="font-size: 10px;" class="p-0 m-0">Image</h6>
                      <h6 style="font-size: 10px;" class="p-0 m-0">{{ currentUserProfile.image_verified_at != null ? 'Verified' : 'Not Verified' }}</h6>
                  </div>
                  <div style="margin: 0 10px;" class="pointer" >
                      <img [class.bg-success]="currentUserProfile.phone_verified_at != null"
                      [class.bg-danger-blue]="currentUserProfile.phone_verified_at == null" class=" rounded-circle p-2" src="../../../assets/images/call.svg"
                          style="height: 15%;" alt="">
                      <h6 style="font-size: 10px;" class="p-0 m-0">Phone</h6>
                      <h6 style="font-size: 10px;" class="p-0 m-0">{{ currentUserProfile.phone_verified_at != null ? 'Verified' : 'Not Verified' }}</h6>
                  </div>
                  <div class="pointer" style="margin: 0 10px;" *ngIf="currentUserProfile.image_verified_at != null && currentUserProfile.email_verified_at != null && currentUserProfile.phone_verified_at != null">
                      <img [class.bg-success]="currentUserProfile.is_true_you == '1'"
                      [class.bg-danger-blue]="currentUserProfile.is_true_you == '0'" class=" rounded-circle p-2" src="../../../assets/images/E-verify.svg"
                          style="height: 15%;" alt="">
                      <h6 style="font-size: 10px;" class="p-0 m-0" class="p-0 m-0">Join </h6>
                      <h6 style="font-size: 10px;" class="p-0 m-0" class="p-0 m-0">TruYou</h6>
                  </div>

                </div>
                <div class="d-none d-md-block profile-sidebar">
                  <div class="sidebar-content">
                  <app-profile-sidebar></app-profile-sidebar>
                  </div>
                  </div>
          </div>

      </div>

      </div>

      <div class="col-xl-8">
        <div class="row">
            <div class="col-md-9 mx-auto add-post-title" >
                <div class="row align-items-center justify-content-center">
                    <div class="col-2">
                        <img src="assets/images/edit.png" class="w-100" alt="">
                    </div>
                    <div class="col-6 m-0 p-0">
                        <h3>Add Post</h3>
                    </div>
                </div>
            </div>
          </div>
          <div class="add-post">
            <app-add-post></app-add-post>
          </div>
        
      </div>
    </div>
    </div>
    </div>
