.privacy-policy-header
{
    font-weight: 320 !important;
    line-height: 50px !important;
    font-size: 40px !important;
    padding: 56px 0;
    margin: 0;
}

.support-email{
    color: #ffc107;
}
.card {
    width: 18rem;
    margin: auto;
    margin-top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    
  }
  