<main class="mt-16">
<div class="container-fluid">
  <!-- <app-header></app-header> -->
  <div class="col-11 mx-auto  mt-2 sm-mt-2 mb-5">
  <h2 class="privacy-policy-header">Contact Us</h2>
  <div class="card ">
    <!-- <div class="card-header">
      Contact Us
    </div> -->
    <div class="card-body">
      <p><b>Email:</b> {{contactEmail}}</p>
      <p><b>Phone No:</b> {{phoneNo}}</p>
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>

  </div>
  <!-- <app-footer></app-footer> -->
  </div>
</main>