// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Define the theme object.
$tt-offer-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($tt-offer-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($tt-offer-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($tt-offer-theme);
/* You can add global styles to this file, and also import other style files */
.textHover:hover {
  color: blue !important;
}

// *{
//   border: 1px solid red;
// }

@media (width < 1030px) {
  .sm-xl-font {
    font-size: 1.5vh;
  }

  .smm-cat-text {
    font-size: 1vh !important;
  }
}

.card {
  border: 1.5px solid #A2A2A2;
}

@media (width < 1030px) {
  .sm-card-height {
    height: 32vh !important;
  }

  .sm-text {
    font-size: 3vh;
  }

  .sm-cat-text1 {
    font-size: 8px !important;
  }

  .sm-cat-text3 {
    font-size: 10px !important;
  }


  .sm-cat-text {
    font-size: 1vh !important;
  }

  .sm-cat-text2 {
    font-size: .5vh !important;
  }

  .sm-cat-text5 {
    font-size: 24px !important;
  }

  .sm-text {
    font-size: 1.2vh !important;
  }

  .sm-font {
    font-size: 15px !important;
  }

  .sm-h-card {
    height: 15vh !important;
  }

  .sm-h-50 {
    height: 50px !important;
    border-radius: 10px;
  }

  .sm-font1 {
    font-size: 13px !important;
  }

  .sm-m-0 {
    margin: 0 !important;
  }

  .sm-ms-3 {
    margin-left: 8px !important;
  }

  .smm-cat-text {
    font-size: 1vh !important;
  }

  .sm-drop-text {
    font-size: 1.5vh !important;
  }

  .sm-img {
    height: 15px !important;
  }

  .sm-img2 {
    height: 23px !important;
  }

  .sm-img3 {
    width: 23px !important;
  }

  .sm-img4 {
    width: 30px !important;
  }

  .sm-img-h {
    height: 30px !important;
  }

  .sm-mt-0 {
    margin-top: 0 !important;
  }

  .sm-mt-2 {
    margin-top: 5px !important;
  }

  .sm-pe-0 {
    padding-right: 0 !important;
  }

  .sm-p-0 {
    padding: 0;
  }

  .sm-p-2 {
    padding: 10px !important;
  }

  .sm-p-3 {
    padding: 5px !important;
  }

  .sm-p-5 {
    padding: 5px !important;
  }

  .sm-p-1 {
    padding: 1px !important;
  }

  .sm-round {
    border-radius: 20px !important;
    height: 23px !important;
    display: flex;
    align-items: center;
  }

  .sm-h {
    height: 75px !important;
    margin-right: 5px;
    border-radius: 20px !important;
  }

  .sm-mt-5 {
    margin-top: 10px !important;
  }

  .sm-mt-3 {
    margin-top: 15px !important;
  }

  .sm-height {
    height: 28vh !important;
  }

  .sm-justify-content-center {
    justify-content: center !important;
  }

  .sm-w-75 {
    width: 75% !important;
  }
}

@media (width < 400px) {
  .sm-card-h {
    height: 30vh !important;
  }

  .sm-c-height {
    height: 25vh !important;
  }

  .sm-cat1 {
    font-size: 1vh !important;
  }
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222;
}

body {
  margin: 0;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


// .spinner {
//   border: 16px solid #f3f3f3; /* Light grey */
//   border-top: 16px solid #3498db; /* Blue */
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8);
  /* Gray background with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it's on top of other content */
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//new Css

.skel-pro {
  position: relative;
  overflow: hidden;
  width: 100%;

  &:before {
    content: '';
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0), linear-gradient(#f4f4f4 100%, transparent 0);
  }

  &:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 80%);
    animation: skeletonloading 1.5s infinite;
  }
}

// BILAL
.fs-40 {
  font-size: 40px;
}

.fs-32 {
  font-size: 32px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-19 {
  font-size: 19px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.fs-8 {
  font-size: 8px;
}

.bg-dark-450 {
  background: #414141;
}

.bg-dark-650 {
  background: #1E293B;
}

.bg-yellow-800 {
  background: #ffc107;
}

.bg-yellow-700 {
  background: #FFD33C;
}

.bg-dark-850 {
  background: #002f34;
}

.text-dark-400 {
  color: #191F33;
}

.text-dark-650 {
  color: #222;
}

.text-slate-400 {
  color: #A2A2A2 !important;
}

.text-dark-350 {
  color: #A2A2A2;
}

.text-dark-800 {
  color: #1B2028;
}

.text-dark-550 {
  color: #4A4F57;
}

.text-dark-450 {
  color: #414141;
}

.text-gray-300 {
  color: #8A8A8A;
}

.text-gray-600 {
  color: #615E83;
}

.text-dark-700 {
  color: #292D32;
}

.text-dark-850 {
  color: #212529;
}

.selling-tab-container {
  border: 0.09375rem solid #EBEEF7;

  .active-tab {
    background: #000;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  li {
    flex-grow: 1;

    .selling-tab {
      height: 43px;
      border-right: 0.09375rem solid #EBEEF7;
      flex-grow: 1;
      width: 100%;
    }
  }

  li:last-child button {
    border-right: none;
  }

  .inactive-tab {
    color: #9CA3AF;
  }

  .btn:focus {
    box-shadow: none;
  }
}

.archive img {
  max-width: 250px;
  width: 100%;
}

.text-decoration-none {
  &hove {
    text-decoration: none;
  }
}

.pointer-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer !important;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold {
  font-weight: 600;
}

.fw-normal {
  font-weight: 500;
}

.fs-16,
.sm-cat-text4 {
  font-size: 16px;
}

.text-gray-400 {
  color: #878787;
}

.cursor-default {
  cursor: default
}

.w-max-content {
  width: max-content;
}

.flex-grow-1 {
  flex-grow: 1;
}

.post-detail-container {
  .detailed-posts {
    .content {
      align-items: center;

      h2 {
        margin-bottom: 5px;
      }
    }
  }
}

@media(min-width:576px) {
  .selling-tab {
    min-width: 179px;
  }

  .archive img {
    max-width: 333px;
  }
}

@media(max-width:576px) {
  .tab-nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  .post-section {
    padding-left: 0px !important;
    padding-right: 20px;
  }

  .post-detail-container {
    padding-left: 20px;
    padding-right: 20px;

    div.pr-4 {
      padding-right: 0 !important;
    }

    .row {
      justify-content: center !important;
    }

    .detail-right-side {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .post-items-container {
    column-gap: 10px !important;
  }

  body .archive h2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nowrap {
  flex-wrap: nowrap;
}

.border-1 {
  border: 1px solid #d8dfe0;
}

.border-b-1 {
  border-bottom: 1px solid #d8dfe0;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-20 {
  border-radius: 20px;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.mt-16 {
  margin-top: 8.5rem;
}

.shadow-md {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 6px 6px 0 rgba(0, 0, 0, .24) !important;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 6px 6px 0 rgba(0, 0, 0, .24) !important;
}

.hover-able:hover {
  background: #00e4ea;
  color: #000;
}

.right-0 {
  right: 0 !important;
}

.top-0 {
  top: 0;
}

.product-card {

  // width: 312px;
  .card-top {
    height: 180px;

    img {
      object-fit: cover;
    }

    .icon-btn {
      width: 30px;
      height: 30px;
    }
  }

  .card-icons {
    column-gap: 20px;
  }

  .hover-able-btn:hover {
    background: #FFD33C;
  }

  .hover-bg-none:focus {
    outline: none;
    box-shadow: none;
  }

}

.rounded-2 {
  border-radius: 10px !important;
}

.custom-shadow {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.row-gap-20 {
  row-gap: 20px;
}

.falback-css {
  background: #f1f1f1;
}

.permotion-banners:first-child {
  display: none;
}

.border-r {
  border-right: 1px solid #d8dfe0;
}

.border-b {
  border-bottom: 1px solid #d8dfe0;
}

.product-filter {
  max-width: 250px;
  min-width: 250px;
}
.row-gap{
  row-gap: 20px;
}

@media (max-width:576px) {
  .xs-rounded-0 {
    border-radius: 0px !important;
  }

  .xs-px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .xs-px-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .xs-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .product-card {
    width: 100%;
  }

  .xs-mr-0 {
    margin-right: 0px !important;
  }
}

@media (min-width: 576px) {

  .container,
  .container-sm,
  .container-fluid {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container,
  .container-md,
  .container-sm,
  .container-fluid {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-fluid {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-fluid {
    max-width: 1380px;
  }
}