
<div class=" d-none  d-lg-flex">
  <h3 *ngIf="category_id" class="sm-cat-text4">
    {{categoryName}}
  </h3>
</div>
<div class=" d-none  d-lg-flex">
  <h4 class="sm-cat-text category-count">15 </h4><span
      class="sm-cat-text count-label">Results
      Founds</span>
</div>
<div class="accordion" id="accordionExample">

  <!-- <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center" id="category">
      <h6 class="mb-0">

        <span> Sub Category</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('subCategory')"
        [attr.aria-expanded]="!isCollapsedSubCategory ? 'true' : 'false'"
        aria-controls="collapseSubCategory"
      >
         <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedSubCategory, 'fa-chevron-down': isCollapsedSubCategory}"></i>
      </button>
    </div>



    <div  [ngClass]="{'collapse': isCollapsedSubCategory, 'show': !isCollapsedSubCategory}">
      <div class="card-body pt-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="category" id="categoryMobile" value="Mobile" />
          <label class="form-check-label" for="categoryMobile">Mobile</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="category" id="categoryLaptop" value="Laptop" />
          <label class="form-check-label" for="categoryLaptop">Laptop</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="category" id="categoryGame" value="Game" />
          <label class="form-check-label" for="categoryGame">Game</label>
        </div>
      </div>
    </div>
  </div> -->
  <div *ngIf="category_id && subCategories.length>0" class="card">
    <div class="card-header d-flex justify-content-between align-items-center" id="category">
      <h6 class="mb-0">
        <span>Sub Category</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('subCategory')"
        [attr.aria-expanded]="!isCollapsedSubCategory ? 'true' : 'false'"
        aria-controls="collapseSubCategory"
      >
        <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedSubCategory, 'fa-chevron-down': isCollapsedSubCategory}"></i>
      </button>
    </div>

    <div [ngClass]="{'collapse': isCollapsedSubCategory, 'show': !isCollapsedSubCategory}">
      <div class="card-body pt-0">
        <div class="form-check" *ngFor="let subCategory of subCategories">
          <input class="form-check-input" type="radio" name="category" [id]="'category' + subCategory.id" [value]="subCategory.name" />
          <label class="form-check-label" [for]="'category' + subCategory.id">{{ subCategory.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional Section for Bid Data -->
  <!-- <div *ngIf="category_id && bidData">

  </div> -->

<div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center" id="sellerType">
      <h6 class="mb-0">
        <span>SELLER TYPE</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('sellerType')"
        [attr.aria-expanded]="!isCollapsedSellerType ? 'true' : 'false'"
        aria-controls="collapseSellerType"
      >
        <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedSellerType, 'fa-chevron-down': isCollapsedSellerType}"></i>
      </button>
    </div>

    <div  [ngClass]="{'collapse': isCollapsedSellerType, 'show': !isCollapsedSellerType}">
      <div class="card-body pt-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandApple" value="Apple" />
          <label class="form-check-label" for="brandApple">Apple</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandSamsung" value="Samsung" />
          <label class="form-check-label" for="brandSamsung">Samsung</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandLenovo" value="Lenovo" />
          <label class="form-check-label" for="brandLenovo">Lenovo</label>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center" id="location">
      <h6 class="mb-0">
        <span>Location</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('location')"
        [attr.aria-expanded]="!isCollapsedLocation ? 'true' : 'false'"
        aria-controls="collapseLocation"
      >
        <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedLocation, 'fa-chevron-down': isCollapsedLocation}"></i>
      </button>
    </div>

    <div  [ngClass]="{'collapse': isCollapsedLocation, 'show': !isCollapsedLocation}">
      <div class="card-body pt-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandApple" value="Apple" />
          <label class="form-check-label" for="brandApple">Apple</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandSamsung" value="Samsung" />
          <label class="form-check-label" for="brandSamsung">Samsung</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandLenovo" value="Lenovo" />
          <label class="form-check-label" for="brandLenovo">Lenovo</label>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center" id="location">
      <h6 class="mb-0">
        <span>Condition</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('condition')"
        [attr.aria-expanded]="!isCollapsedCondition ? 'true' : 'false'"
        aria-controls="collapseCondition"
      >
        <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedCondition, 'fa-chevron-down': isCollapsedCondition}"></i>
      </button>
    </div>

    <div  [ngClass]="{'collapse': isCollapsedCondition, 'show': !isCollapsedCondition}">
      <div class="card-body pt-0">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandApple" value="Apple" />
          <label class="form-check-label" for="brandApple">Apple</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandSamsung" value="Samsung" />
          <label class="form-check-label" for="brandSamsung">Samsung</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="brand" id="brandLenovo" value="Lenovo" />
          <label class="form-check-label" for="brandLenovo">Lenovo</label>
        </div>
      </div>
    </div>

  </div> -->
  <div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center" id="location">
      <h6 class="mb-0">
        <span>Condition</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('condition')"
        [attr.aria-expanded]="!isCollapsedCondition ? 'true' : 'false'"
        aria-controls="collapseCondition"
      >
        <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedCondition, 'fa-chevron-down': isCollapsedCondition}"></i>
      </button>
    </div>

    <div [ngClass]="{'collapse': isCollapsedCondition, 'show': !isCollapsedCondition}">
      <div class="card-body pt-0">
        <div class="form-check" *ngFor="let condition of condition">
          <input class="form-check-input" type="radio" name="brand" [id]="'brand' + condition.id" [value]="condition.name" />
          <label class="form-check-label" [for]="'brand' + condition.id">{{ condition.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-1">
    <div class="card-header d-flex justify-content-between align-items-center" id="location">
      <h6 class="mb-0">
        <span>Price</span>
      </h6>
      <button
        class="btn btn-link"
        type="button"
        (click)="toggleCollapse('price')"
        [attr.aria-expanded]="!isCollapsedPrice ? 'true' : 'false'"
        aria-controls="collapseCondition"
      >
        <i class="fas" [ngClass]="{'fa-chevron-up': !isCollapsedPrice, 'fa-chevron-down': isCollapsedPrice}"></i>
      </button>
    </div>

    <div  [ngClass]="{'collapse': isCollapsedPrice, 'show': !isCollapsedPrice}">
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-6 position-relative">
              <input type="text" class="form-control w-100 pr-5"
                  placeholder="min Price" [(ngModel)]="minPrice" [min]="min" [max]="max" (input)="updateMinPrice()">
              <span class="currency-label">AED</span>
          </div>

          <div class="col-6 position-relative">
              <input type="text" class="form-control w-100 pr-5"
                  placeholder="Max Price" [(ngModel)]="maxPrice" [min]="min" [max]="max" (input)="updateMaxPrice()">
              <span class="currency-label">AED</span>
          </div>
      </div>
      </div>
    </div>

  </div>
</div>
