.accordion .card {
    border: none;
  }
  
  .accordion .card-header {
    border-bottom: none;
  }
  
  .accordion .card-body {
    border-top: none;
  }
  
.collapse {
    display: none;
  }
  
  .show {
    display: block;
  }
  .fas{
    color: black;
  }
  .card{
    border: 1px solid #EBEEF7 !important;
    border-radius: 10px !important;
  }
  .card-header{
    background-color: white;
  }
  .category-count{
    color: black;
  }
  .count-label{
    color: #636A80;
    margin-left: 5px;
    font-size: 20px;
  }




  .currency-label {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
  }
  